<div class="header">
    <p class="h-text">Send Email</p>
</div>
<form autoComplete="off" #composeEmail="ngForm" *ngIf="formOpen">
    <p *ngIf="showMessage" class="error-show">{{message}}</p>
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="main">
            <p>
                <mat-form-field class="width-100" *ngIf="emails">
                    <input matInput type="text-area" [disabled]="true" placeholder="Email" autoComplete="off" name="email" required [(ngModel)]="emails">
                    <mat-error>Required</mat-error>
                </mat-form-field>
                <mat-card class="width-100" style="box-shadow: none;" *ngIf="emailParentId">
                  <mat-card-header>
                    <mat-card-subtitle><span *ngIf="resendEmailTrackingData" >Tracking</span><span *ngIf="!resendEmailTrackingData" >Tag</span> <sup>*</sup></mat-card-subtitle>
                    <mat-card-subtitle>{{emailParenttitle}} - <b>{{emailChildTitle}}</b></mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
                <mat-form-field class="width-100">
                    <input matInput placeholder="Subject" autoComplete="off" name="subject" required [(ngModel)]="subject">
                    <mat-error>Required</mat-error>
                </mat-form-field>
                <mat-form-field class="width-100" *ngIf="emailParentId">
                    <input matInput placeholder="Campaign Name" autoComplete="off" name="campaign_name" required [(ngModel)]="campaign_name">
                    <mat-error>Required</mat-error>
                </mat-form-field>
                <mat-select placeholder="Select Template" class="width-25" [(ngModel)]="selectedTemplate" (change)="selectTemplate(selectedTemplate)" [ngModelOptions]="{standalone: true}">
                    <span *ngFor="let template of templates">
                        <mat-option  *ngIf="(parentId == template.job_profile || template.job_profile == 0 || parentId == 0)" [value]="template">          
                                {{ template.templateName }}
                        </mat-option>
                    </span>
                </mat-select>
                <ckeditor [config]="{uiColor: '#00ffff'}" debounce="500" [(ngModel)]="body" [ngModelOptions]="{standalone: true}"></ckeditor>
            </p>
        </div>
    </div>
    <div class="fx-pos">
    	<button mat-raised-button (click)="close()">Back</button>
    	<button mat-raised-button color="accent" (click)="save(composeEmail)">Send</button>
    </div>
</form>
<mat-card *ngIf="!formOpen">
    <h4 *ngIf="sendSuccessEmailList && sendSuccessEmailList.length > 0">Send Success Email List</h4>
    <ol>
        <li *ngFor="let successEmail of sendSuccessEmailList;">{{successEmail}}</li>
    </ol>
    <h4 *ngIf="sendFailedEmailList && sendFailedEmailList.length > 0">Send Failed Email List</h4>
    <ol>
        <li *ngFor="let failedEmail of sendFailedEmailList;">{{failedEmail}}</li>
    </ol>
    <div class="fx-pos" style="padding: 8px;">
        <button mat-raised-button (click)="close()">Back</button>
    </div>
</mat-card>