<div class="header">
    <p class="h-text">Add Note</p>
</div>
<form autoComplete="off" #addNote="ngForm" *ngIf="formOpen">
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="main">
            <p>
                <md-input-container class="width-75">
                    <textarea mdInput placeholder="" autoComplete="off" name="note" required [(ngModel)]="note"></textarea>
                    <md-error>Required</md-error>
                </md-input-container>
            </p>
        </div>
    </div>
    <div class="fx-pos">
    	<button md-raised-button color="accent" (click)="save(addNote)">Save</button>
    </div>
</form>
