<div class="header">
    <p *ngIf="!rejectNote" class="h-text">Add Note</p>
    <p *ngIf="rejectNote" class="h-text">Reason For Rejection</p>
</div>
<form autoComplete="off" #addNote="ngForm" *ngIf="formOpen">
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="main">
            <p>
                <mat-form-field class="width-75">
                    <textarea matInput placeholder="" autoComplete="off" name="note" required [(ngModel)]="note"></textarea>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </p>
        </div>
    </div>
    <div class="fx-pos">
    	<button mat-raised-button color="accent" (click)="save(addNote)">Save</button>
    </div>
</form>
