@import './../../variable.scss';
.main {
    width: 100%;
    min-height: 100%;
}
.cardsub {
    color: inherit;
    font-size: 18px;
}

.pos-add {
    position: fixed;
    right: 10px;
    bottom: 20px;
}
ul,li{
  list-style: none;
}
.quesView{
  padding-left: 0px;
}
.quesView h4{
  font-size: 14px;
  font-weight: 700;
}
.marTop10{
  margin-top: 3px !important;
}
.marTop3{
  margin-top: 10px !important;
}
.pad0{
  padding: 0px !important;
}

.padleft15{
  padding-left: 15px;
}
.padleft10{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ans{
  font-weight: bold;
}
.btnIcons{
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
}
.fontLi{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: bold;
}
.alignRight{
    text-align: right;
    float: right;
}
.error{
  text-align: center;
  color: red;
}
