<div class="main" id="create-ques">
  <mat-card>
    <mat-card-title class="cardsub">
       Interview Questions
    </mat-card-title>
    <hr class="linespace">
    <mat-card-content>
      <div class="row">
        <div class="col-md-4 col-sm-12" style="padding-top: 15px;">
          <mat-select class="width-100" id="jab_profile" placeholder="Select Job Profile" name="jab_profile" required [(ngModel)]="selectedJobid">
            <mat-option *ngFor="let tag of jobprofile_tag" [value]="tag.id" (click)="getQues(tag.id)">
              {{tag.title}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-md-5 col-sm-12 alignRight">
          <form #groupForm="ngForm" (ngSubmit)="createGroup(groupForm)">
            <mat-card-subtitle class="error" *ngIf="showmessage">{{message}}</mat-card-subtitle>
              <mat-form-field>
                <input matInput type="text" name="group" [(ngModel)]="group"  placeholder="Create New Group" autoComplete="off">
              </mat-form-field>
              <button mat-raised-button color=primary type="submit" [disabled]="groupForm.invalid">Create</button>
          </form>
        </div>
        <div class="col-md-12 warning" *ngIf="QueNotAvailable">{{messageQues}}</div>
      </div>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let group of questions;let i = index" (opened)="panelOpenState = true" (closed)="panelOpenState = false" (click)="scroll()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{group.group_name}}
            </mat-panel-title>
            <mat-panel-description>
              Total Questions: {{group.questions.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="marTop3 padleft10 bodyInner2" *ngFor="let ques of group.questions;let i = index">
            <div class="btnIcons">
                <button mat-icon-button color=warn matTooltip="click to delete!" (click)="delQues(ques._id)"><i class="material-icons">delete</i></button>
                <button mat-icon-button color=primary matTooltip="click to edit!" (click)="editQues(ques._id)"><i class="material-icons">mode_edit</i></button>
              </div>
            <mat-list class="pad0">
              <mat-list-item class="pad0">
              <div class="col-md-12 pad0">
                <ul class="quesView">
                  <li><h4>Question {{i+1}}. <span [innerHTML]="ques.question | safeHtml"></span></h4></li>
                  <li *ngIf="ques.description"><pre [innerHTML]="ques.description | safeHtml"></pre></li>
                  <li class="fontLi">Options:</li>
                  <ul class="padleft15" *ngFor="let opt of ques.options; let optid = index ">
                    <li class="col-md-6 col-sm-12 fontLi">{{optid+1}}. &#09; {{opt.option}}</li>
                  </ul>
                </ul>
                <span class="answer">The Answer is Option Number <b>{{ques.answer}}</b></span>               
              </div>
            </mat-list-item>
            </mat-list>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
<div id="addTag" class="pos-add" *ngIf="!loading && add">
    <button mat-fab (click)="addQues()">
        <mat-icon>add</mat-icon>
    </button>
</div>
