@import './../../variable.scss';
md-card {
	padding: 0px;
	margin-top: 10px;
}
md-card-header {
	background-color: $si-tem-color;
	padding: 10px 0px 0px 12px;
}
.set-pos {
	text-align: center;
	display: block;
	margin: 0px 0px 14px 0px !important;
	padding-bottom: 8px!important;
}
.e-c {
    color: $emailbluecolor;
}
.m-e {
    color: $emailtempedit;
}
.d-c {
    color: $emailtempdelete;
}
.pad {
	padding: 12px;
	word-break: break-all;
}