<mat-card>
  <mat-card-header (click)="open = !open">
    <mat-card-title style="word-break: break-word;">{{temp.templateName}}</mat-card-title>
    <mat-card-subtitle  style="word-wrap: break-word;">Subject: {{temp.subject}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="open">
    <p class="pad" [innerHTML]="temp.body | safeHtml"></p>
  </mat-card-content>
  <mat-card-actions class="set-pos">
    <button mat-button (click)="test(temp)">TEST <mat-icon class="e-c">email</mat-icon></button>
    <button mat-button (click)="edit(temp)">EDIT <mat-icon class="m-e">mode_edit</mat-icon></button>
    <button mat-button (click)="delete(temp.id)">DELETE <mat-icon class="d-c">delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
