<div class="mainform">
    <mat-card>
        <form id="smtpForm" autoComplete="off" #smtpForm="ngForm" (ngSubmit)="addSMTP(smtpForm)">
            <mat-card-subtitle class="cardsub">
                SMTP Server
            </mat-card-subtitle>
            <mat-card-subtitle id="showError" class="error" *ngIf="showmessage">{{message}}</mat-card-subtitle>
            <mat-card-content>
                <div class="row">
                    <div id="smtpFormUserEmail" class="col-md-4 col-sm-12">
                        <mat-form-field class="width-100">
                            <input matInput name="username" placeholder="Email/User Name" ngModel autoComplete="off" required>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div  id="smtpFormSendEmail" class="col-md-4 col-sm-12">
                        <mat-form-field class="width-100">
                            <input matInput name="email" placeholder="Email (send via)" ngModel autoComplete="off" [formControl]="emailFormControl" required>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('pattern')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div id="smtpFormPassword"  class="col-md-4 col-sm-12">
                        <mat-form-field class="width-100">
                            <input matInput name="password" type="password" placeholder="Password" required ngModel autoComplete="off">
                            <mat-error>Password Required</mat-error>
                        </mat-form-field>
                    </div>
                    <div id="smtpFormServerName" class="col-md-4 col-sm-12">
                        <mat-form-field class="width-100">
                            <input matInput name="smtp_server" placeholder="SMTP Server" required ngModel autoComplete="off">
                            <mat-error>Invalid Server ID</mat-error>
                        </mat-form-field>
                    </div>
                    <div id="smtpFormPort" class="col-md-4 col-sm-12">
                        <mat-form-field class="width-100">
                            <input matInput name="server_port" type="number" placeholder="Server port" min="1" required ngModel autoComplete="off">
                            <mat-error>Invalid Port</mat-error>
                        </mat-form-field>
                    </div>
                    <div id="smtpFormRadio" class="col-md-4 col-sm-12">
                        <mat-radio-group name="type" id="type" required ngModel>
                            <mat-radio-button id="option1" name="type" value="ssl" checked>SSL</mat-radio-button>
                            <mat-radio-button id="option2" name="type" value="tls">TLS</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div id="smtpFormSave" class="col-sm-12">
                        <button type="submit" mat-raised-button color=primary [disabled]="smtpForm.invalid || emailFormControl.invalid"> Save </button>
                    </div>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>