<div class="header">
    <p class="h-text">Edit Variable</p>
</div>
<form autoComplete="off" #addTemp="ngForm" (ngSubmit)="update(addTemp)">
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="main" fxFlex="75%">
            <p>
                <md-input-container class="width-100">
                    <input mdInput placeholder="Enter Variable" [(ngModel)]="varCode" autoComplete="off" name="variableCode" required ngModel>
                    <md-error>required</md-error>
                </md-input-container>
            </p>
               <md-radio-group class="pos-radio" name="type" [(ngModel)]="types" ngModel>
                    <md-radio-button [value]="0" (click)="types = 0">Add header/footer</md-radio-button>
                    <md-radio-button [value]="1" (click)="types = 1">Other than header/footer</md-radio-button>
                </md-radio-group>
                <div class="editor" *ngIf="types">
                <ckeditor [(ngModel)]="varValue" name="variableValue" 
                    [config]="{uiColor: '#00ffff'}"
                    debounce="500" ngModel>
                </ckeditor>
                </div>
                <div class="text-area" *ngIf="!types">
                	<md-input-container class="width-100">
                        <textarea mdInput name="variableValue" mdTextareaAutosize  mdAutosizeMinRows="5" placeholder=" Write html code for header/footer" [(ngModel)]="varValue"></textarea>
                    </md-input-container>
                </div>
        </div>
    </div>
    <div class="fx-pos">
    	<button md-raised-button (click)="close()">BACK</button>
    	<button md-raised-button type="submit" color="accent">UPDATE</button>
    </div>
</form>
