<div class="mainform">
    <form autoComplete="off" [formGroup]="daysForm">
        <mat-card-title class="cardsub">
            Enter No Of Days
        </mat-card-title>
        <mat-card-content>
            <table class="width-100">
                <tr>
                    <td class="width-50">
                        <mat-form-field class="width-100">
                            <input matInput placeholder="no of days" type="number" [formControl]="daysForm.controls['days']">
                        </mat-form-field>
                        <mat-error *ngIf="!daysForm.controls['days'].valid && daysForm.controls['days'].touched">
                            Please enter no of days
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" mat-raised-button color=primary [disabled]="daysForm.invalid" (click)="sendData()"> Submit </button>
                        <button mat-raised-button (click)="close()"> Close </button>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </form>
</div>