@import './../../variable.scss';
.main {
    width: 100%;
    min-height: 100%;
}
.width-90 {
    width: 90%;
}
table.list {
    width: 100%;
    tr, th {
        text-align: center;
        border-bottom: 1px solid $tablistcolor;
        padding: 5px 0px;
        vertical-align: middle;
    }
    tbody {
        tr:hover {
            background: $tbodycolor;
        }
    }
}
.red{
    color:red;
}
.green{
    color:green;
}

.spin {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

