<mat-card class="emailstyle  {{email.unread ? 'unchecked': 'checked'}}" [ngClass]="{'bleftblue': email.is_automatic_email_send, 'bleftwhite': !email.is_automatic_email_send}">
  <div class="avatar-image" (click)="email.selected = !email.selected; emailSelection()">
    <img src="{{url}}/{{email.sender_mail}}" onerror="this.src='assets/user.jpg'">
  </div>
  <div class="emailcheckbox" *ngIf="role !== 'Guest'" [style.visibility]="email.selected ? 'visible' : 'hidden'">
    <mat-checkbox (change)="emailSelection()" [(ngModel)]="email.selected"></mat-checkbox>
  </div>
  <div class="detailloc" (click)="openEmails(email)">
    <h5>{{countEmailSubject(email.subject)}}</h5>
    <h6 class="inline">
      <span *ngIf="email.examScore || email.examScore ==0">Exam Score: {{email.examScore}},</span>
      <span class="badge" *ngIf="email && isSearching && email['tagTitle']" >{{email['tagTitle']}}</span>
      <mat-icon *ngIf="email.is_attachment" class="attach">attach_file</mat-icon> {{email.updatedAt|date:'medium'}} <span *ngIf="email.updatedAt" >/</span> {{email.date|date:'medium'}}
    </h6>
    <p>{{email.sender_mail}} - From {{email.from}}, Source:
      <span *ngIf="email.source">{{email.source}}</span>
      <span *ngIf="!email.source">IMAP</span>
    </p>
    <p *ngIf="email.is_attachment" class="emailbody">{{email.body}}</p>
    <p *ngIf="isRoundsTag">Interview Schedule: <b *ngIf="!email['shedule_date']">Direct</b><b *ngIf="email['shedule_time'] || email['shedule_date']">{{email.shedule_date | date:'d MMM'}}, {{email.shedule_time}}</b></p>
  </div>
  <div *ngIf="!email.candidate_star || !email.candidate_star.length"  class="mark__email not__starred" (click)="markStarred(email.sender_mail)">
  </div>
  <div *ngIf="email && email.candidate_star && email.candidate_star.length"  class="mark__email starred" (click)="markStarred(email.sender_mail)">
  </div>
  <div class="spam-archive" *ngIf="email['tagTitle'] == allTagTitle" >
    <div class="markSpam" (click)="moveToSpam(email)">Spam</div>
    <div class="markArchive" (click)="moveToArchive(email)">Archive</div>
  </div>
  <div id="inboxTag" *ngIf="role !== 'Guest'" class="container-fluid">
    <mat-select placeholder="Interviewee" *ngIf="tagselected" class="assign-interviewee" [(ngModel)]="email.interviewee" (ngModelChange)="assignInterviewee(email.interviewee)">
      <mat-option *ngFor="let interviewee of intervieweeList" [value]="interviewee.id">{{ interviewee.email }}</mat-option>
    </mat-select>
    <div class="default-tag-buttons row" *ngIf="tagAssigned">
      <span *ngFor="let tag of tagAssigned; trackBy: allTagsDefaultTrack;">
        <div class="col-md-2 col-sm-2 col-xs-6" *ngIf="tag.id != tagselected && tag.title != 'All' && tag.parent_id==null && tag.active_status==true" id="{{tag.title}}"
        (click)="assignTag(tag.id, email._id, tag.title, email)">
        <button mat-raised-button class="cyan" [ngStyle]="getColor(tag.title)">
          <i class="material-icons">{{getIcon(tag.title)}}</i> {{tag.title}}
        </button>
      </div>
    </span>
    <p class="col-md-2 col-sm-2 col-xs-6 markunread" matTooltip=" Mark As Unread" *ngIf="!email.unread" (click)="markReadUnread()">
        <i class="material-icons unreadIcon">drafts</i>
      </p>
      <p class="col-md-2 col-sm-2 col-xs-6 markunread" matTooltip=" Mark As Read" *ngIf="email.unread" (click)="markReadUnread()">
        <i class="material-icons unreadIcon">markunread</i>
      </p>
      <p class="col-md-2 col-sm-2 col-xs-6 noteView" *ngIf="email.notes.length>0" matTooltip="Click to view Note" (click)="emailNoteView(email.notes)">
        <i class="material-icons noteicon">note</i>
      </p>
      <p class="col-md-2 col-sm-2 col-xs-6 call" [matTooltip]="callStatus" (click)="callDetails(email)" *ngIf="email.default_tag != ''">
        <i class="material-icons phone" [ngClass]="color">phone_android</i>
      </p>
    </div>
    <!-- <div class="default-tag-buttons row" *ngIf="!tagselected">
      <span *ngFor="let tag of inboxMailsTagsForEmailListAndModel.data; trackBy: inboxMailsTagsForEmailListAndModelDataTrack;">
        <div class="col-md-2 col-sm-2 col-xs-6" (click)="assignTag(tag.id, email._id, tag.title, email)">
          <button mat-raised-button class="cyan" [ngStyle]="getColor(tag.title)">
            <i class="material-icons">{{getIcon(tag.title)}}</i> {{tag.title}}
          </button>
        </div>
      </span>
      <p class="col-md-2 col-sm-2 col-xs-6 markunread" matTooltip=" Mark As Unread" *ngIf="!email.unread" (click)="markReadUnread()">
        <i class="material-icons unreadIcon">drafts</i>
      </p>
      <p class="col-md-2 col-sm-2 col-xs-6 markunread" matTooltip=" Mark As Read" *ngIf="email.unread" (click)="markReadUnread()">
        <i class="material-icons unreadIcon">markunread</i>
      </p>
      <p class="col-md-2 col-sm-2 col-xs-6 noteView" *ngIf="email.notes.length>0" matTooltip="Click to view Note" (click)="emailNoteView(email.notes)">
        <i class="material-icons noteicon">note</i>
      </p>
    </div> -->
  </div>
</mat-card>
