@import './../../variable.scss';
:host {
    display: flex;
    flex: 1;
}
.emailstyle {
    padding: 2px;
    margin-bottom: 2px;
    width: 100%;
}
.bleftblue {
    border-left: 5px solid $borderleftblue;
}
.bleftwhite {
    border-left: 5px solid #fff;
}
.logodesign {
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    left: 4px;
    -webkit-user-select: none;
    margin-left: 4px;
    margin-right: 3px;
}
.heightwidth27 {
    height: 27px;
    width: 27px;
}
.logo {
    @extend .logodesign;
    @extend .heightwidth27;
}
.emailcheckbox {
    height: 10px;
    width: 10px;
    position: absolute;
    left: 0px;
    top: 14px;
    padding: 6px 0px 0px 6px;
    z-index: 9999;
}
.detailloc {
    cursor: pointer;
    padding-right: 10px;
    width: 100%;
    padding-left: 26px;
    p{
        margin-bottom:0px;
        margin-top:0px;
        font-size: 12px;
    }
    h5 {
        max-width: 82%;
        display: inline-block;
        margin: 0;
    }
}
.inline {
    position: absolute;
    right: 8px;
    margin: 0;
    top: 3px;
}
.attach {
    width: 8px;
    height: 8px;
    font-size: 15px;
    padding-right: 10px;
    vertical-align: sub;
}
.checked {
    opacity: 0.6;
}
.unchecked {
    opacity: 1;
}
.labels {
      background-color: #6887ff;
      color: rgba(255,255,255,.87);
      padding: .15em .35em;
      font-size: 75%;
      line-height: 1;
      vertical-align: baseline;
      font-weight: 700;
      border-radius: .2rem;
      text-align: center;
      white-space: nowrap;
      display: inline-block;
}
.auto-tags{
    font-size: 10px;
    margin: 0px 2px 0px 2px;
    vertical-align: bottom;
}

.default-tag-buttons{
    .col-md-2 {
        float: right;
        padding: 2px;
    }
    .cyan{
        line-height:20px!important;
        margin: 0px 4px 0px 4px;
        font-weight:bold;
        color:#fff;
        font-size: 12px;
    }
    .material-icons{
        font-size: 14px!important;
        line-height:1px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .default-tag-buttons{
        .cyan{
            margin: 2px;
            padding: 0px;
            width: 100%;
            font-size: 10px;
        }
        .material-icons{
            font-size: 14px!important;
            line-height:1px;
        }
    }
    .emailcheckbox {
        top: 6px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .default-tag-buttons{
        .cyan{
            padding: 0px;
            margin: 2px;
            width: 100%;
            font-size: 10px;
        }
        .material-icons{
            font-size: 14px!important;
            line-height:1px;
        }
    }
    .emailcheckbox {
        top: 6px;
    }
}
@media screen and (min-width: 768px) {
    .default-tag-buttons{
        .col-md-2{
            width: auto;
        }
        .cyan{
            line-height:20px!important;
            margin: 0px 4px 0px 4px;
            font-weight:bold;
            color:#fff;
            font-size: 12px;
        }
        .material-icons{
            font-size: 14px!important;
            line-height:1px;
        }
    }
}