<md-card class="bleftblue emailstyle">
    <md-grid-list cols="8" rowHeight="34px">
        <!-- <md-grid-tile [colspan]="'1'"> -->
            <!-- <div class="emailcheckbox">
                <span *ngIf="!selected" >{{email.subject?.charAt(0)}}</span>
                <md-icon *ngIf="selected">check</md-icon>
            </div> -->
        <!-- </md-grid-tile> -->
        <md-grid-tile [colspan]="'8'">
            <div class="emailcheckbox">
                <md-checkbox (change)="emailSelection()" [(ngModel)]="email.selected"></md-checkbox>
            </div>
            <div class="detailloc {{email.unread ? 'unchecked': 'checked'}}" (click)="openEmails(email)">
                <h5>{{countEmailSubject(email.subject)}}</h5>
                <h6 class="inline">
                     <md-icon *ngIf="email.is_attachment" class="attach">attach_file</md-icon> {{email.date | date: 'medium'}}
                </h6>
                <p>{{email.sender_mail}} - From {{email.from}}</p>
            </div>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="1" rowHeight="24px">
        <md-grid-tile [colspan]="'1'">
            <div class="default-tag-buttons">
                <span *ngFor="let tag of allTags.Default">
                    <a md-raised-button class="cyan" [ngStyle]="getColor(tag.title)" *ngIf="tag.id != tagselected && tag.title != 'All'" (click)="assignTag(tag.id, email._id)"><i class="material-icons">{{getIcon(tag.title)}}</i> {{tag.title}}
                    </a>
                </span>
            </div>
        </md-grid-tile>
    </md-grid-list>
</md-card>