<md-card>
    <h3 class="heading">User List</h3>
    <!-- <div class="pagination">
        <button md-icon-button [disabled]="page == 1" (click)="previous()"><i class="material-icons">&#xE314;</i></button>
        {{page}}/{{totalCount ? Math.ceil(totalCount/limit): '1'}}
        <button md-icon-button [disabled]="page == Math.ceil(totalCount/limit)" (click)="next()"><i class="material-icons">&#xE315;</i></button>
    </div> -->
    <table class="list">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; index as i;">
                <td>{{i+1}}</td>
                <td class="text-left">{{user.email}}</td>
                <td>{{user.user_type}}</td>
                <td (click)="deleteUser(user)"><i class="material-icons">&#xE872;</i></td>
            </tr>
        </tbody>
    </table>
</md-card>
<div class="pos-add">
    <a md-fab (click)="addUser()"><md-icon>add</md-icon></a>
</div>




