<div class="content">
  <md-grid-list cols="8" rowHeight="80px">
    <md-grid-tile [colspan]="7">
      <h2 class="h2pos">
        Email Tracking
      </h2>
    </md-grid-tile>
    <md-grid-tile [colspan]="1">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item *ngFor="let tracking of trackingData" [disabled]="tracking.campaign_name == selectedTrackingData.campaign_name"
          [ngClass]="{ active: (tracking.campaign_name == selectedTrackingData.campaign_name) }" (click)="selectedTracking(tracking)">
          <span>{{ tracking.campaign_name }}</span>
        </button>
      </md-menu>
    </md-grid-tile>
  </md-grid-list>

  <md-list *ngIf="selectedTrackingData">
    <md-list-item>
      <div class="activity">
        <span>
          <b>Campaign Name:</b> {{selectedTrackingData.campaign_name}},
          <b>Total: </b>{{selectedTrackingData.count.total}},
          <b>Percentage: </b>{{selectedTrackingData.count.percentage}}%</span>
        <div class="text-right">
          <button md-raised-button color="clan" (click)="previewEmail()">View Template</button>
          <button md-raised-button color="clan" (click)="resendEmail()">Resend Email</button>
          <button md-raised-button color="warn" (click)="deleteCampaign(selectedTrackingData)">Delete Campaign</button>
          <md-slide-toggle [(ngModel)]="seenUnseen" mdTooltip="{{(seenUnseen) ? 'Seen' : 'Unseen'}}">Seen/Unseen</md-slide-toggle>
        </div>
        <div class="table-responsive">
          <table class="list table">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Email</th>
                <th>Sent ON</th>
                <th>Seen</th>
                <th>Seen On</th>
              </tr>
            </thead>
            <tbody *ngFor="let tracking of selectedTrackingData.data;index as i;">
              <tr *ngIf="seenUnseen && tracking.seen">
                <td>{{i+1}}</td>
                <td>{{tracking.candidate_email}}</td>
                <td>{{tracking.sent_time | date: 'medium'}}</td>
                <td>
                  <i class="material-icons" [ngStyle]="{'color':tracking.seen ? 'green' : 'red' }">done_all</i>
                </td>
                <td>{{tracking.view_time | date: 'medium'}}</td>
              </tr>
              <tr *ngIf="!seenUnseen && !tracking.seen">
                <td>{{i+1}}</td>
                <td>{{tracking.candidate_email}}</td>
                <td>{{tracking.sent_time | date: 'medium'}}</td>
                <td>
                  <i class="material-icons" [ngStyle]="{'color':tracking.seen ? 'green' : 'red' }">done_all</i>
                </td>
                <td>{{tracking.view_time | date: 'medium'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-list-item>
  </md-list>
</div>