<div *ngIf="first" class="main-container">
    <h1 md-dialog-title>Enter Values</h1>
    <hr>
    <form class="m-p" autoComplete="off" #setVar="ngForm">
        <table class="full" cellspacing="0">
            <tr *ngFor="let variable of pendingVariables">
                <td>
                    <md-input-container class="full">
                        <input mdInput placeholder="{{variable.name}}" [(ngModel)]="variable.value" autoComplete="off" name="{{variable.name}}" required>
                    </md-input-container>
                </td>
            </tr>
        </table>
    </form>
    <div class="fx-pos">
        <button md-raised-button (click)="close()">CLOSE</button>
        <button md-raised-button type="submit" color="accent" (click)="setVariable(setVar)">PREVIEW MAIL</button>
    </div>
</div>
<div *ngIf="!first" class="main-container">
    <h1 md-dialog-title class="a-c">Mail Preview
        <button md-raised-button style="float: right;" (click)="close()" md-mini-fab><md-icon>close</md-icon></button>
    </h1>
    <hr>
        <table class="full" cellspacing="0">
            <tr>
                <td>
                    <h3 class="a-c m-z">{{temp.subject}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="con-of" [innerHTML]="temp.body | safeHtml"></p>
                </td>
            </tr>
        </table>
    <div class="fx-pos">
        <button md-raised-button (click)="close()" *ngIf="userDetails">CLOSE</button>
        <button id="send_mail" md-raised-button type="submit" color="accent" (click)="sendEmail()" *ngIf="userDetails" >SEND MAIL</button>
    </div>
</div>