<div class="well cantain">
    <div class="row head">
        <md-select placeholder="Job Profile" class="col-md-3" name="selectNewTag" ngModel (ngModelChange)="change($event)" required>
            <md-option *ngFor="let tags of jobProfile" [value]="tags.title">
                {{ tags.title }}
            </md-option>
        </md-select>
        <div class="col-md-9 text-right">
            <button md-raised-button color=accent  (click)="addTemp()">ADD NEW TEMPLATE</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" *ngFor="let temps of tempData; let i=index; trackBy: tempDataTrack;">
            <app-single-template [temp]="temps" (testTemp)="testTemplate($event)" (deleteTemp)="deleteTempId($event); tempData.splice(i,1)" (edits)="editTemp($event)"></app-single-template>
          <!--  FOR JOB PROFILE FILTER (BACKEND NOT DONE) -->
            <!-- <div ngIf="currentJobProfile==temps.jobProfile">
                <app-single-template [temp]="temps" (testTemp)="testTemplate($event)" (deleteTemp)="deleteTempId($event); tempData.splice(i,1)" (edits)="editTemp($event)"></app-single-template>
            </div> -->
        </div>
    </div>
</div>