@import './../../variable.scss';
.btn-pos {
	
}
.cd-pos {
	position: inherit;
    top: 60px;
    background-color: $contentcolor;
}
.flex-container {
  display: -webkit-inline-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contain {
  padding: 20px;
}
.head {
  padding-top: 10px;
}