<div id="templatePanel" class="row">
  <div class="col-md-12 text-right" id="addEmailTemplate">
    <button md-raised-button id="addEmailTemplateButton" color=accent (click)="addTemp()">ADD NEW TEMPLATE</button>
  </div>
  <div id="templates" class="col-md-6" *ngFor="let temps of tempData; let i=index; trackBy: tempDataTrack;">
    <app-single-template [temp]="temps" (testTemp)="testTemplate($event)" (deleteTemp)="deleteTempId($event); tempData.splice(i,1)" (edits)="editTemp($event)"></app-single-template>
  </div>
</div>
