#FormButton{
  margin-top: 10px;
}
.pad10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.pad0{
  padding: 0px;
}
.addQues{
    width: 60px;
    background: #dad9d9;
    border-radius: 2px;
    height: 60px;
}
.btnSave{
    width: 100%;
    height: 50px;
    margin: auto;
}
