<div class="main">
  <app-smtp-component-form (addedSMTP)="getSmtpList()"></app-smtp-component-form>
    <div>
        <md-card>
            <md-card-subtitle class="cardsub">
                SMTP Settings
            </md-card-subtitle>
            <md-card-content>
                <table class="list">
                    <thead>
                        <tr>
                            <th>Email ID</th>
                            <th>Server</th>
                            <th>Port</th>
                            <th>Encryption</th>
                            <th>Status</th>
                            <th>Test</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let setting of settingJson">
                            <td>{{setting.email}}</td>
                            <td>{{setting.smtp_server}}</td>
                            <td>{{setting.server_port}}</td>
                            <td>{{setting.type}}</td>
                            <td>
                                <md-icon class="{{setting.status ? 'on':'off'}}" (click)="changeStatus(setting.email, setting.status)">{{setting.status ? 'done' : 'clear'}}</md-icon>
                            </td>
                            <td>
                                <button md-button class="chartcolor" (click)="test(setting.email)">TEST</button>
                            </td>
                            <td>
                                <button md-button class="chartcolor" [disabled]="setting.status" (click)="remove(setting.id)">REMOVE</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
        </md-card>
    </div>
</div>