<div class="content">
  <md-grid-list cols="8" rowHeight="80px">
    <md-grid-tile [colspan]="7">
      <h2 class="h2pos">
        Users Log
      </h2>
    </md-grid-tile>
    <md-grid-tile [colspan]="1">
      <button md-icon-button [mdMenuTriggerFor]="menu">
   <md-icon>more_vert</md-icon>
  </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item *ngFor="let email of usersLog" (click)="selectedUser(email)">
    <span>{{email.email}}</span>
  </button>
      </md-menu>
    </md-grid-tile>
  </md-grid-list>

  <md-list>

    <md-list-item>
      <div class="activity" *ngIf="selectUserLog && selectUserLog.action">
        <b>User Email:</b> {{selectUserLog.email}}
        <span class="pagination">
          <button [disabled]="pageNo == 0" (click)="previous()"><i class="material-icons">keyboard_arrow_left</i></button>
           {{pageNo + 1}}/{{totalPages}} 
           <button [disabled]="(pageNo + 1) == totalPages" (click)="next()"><i class="material-icons">keyboard_arrow_right</i></button>
          </span>
        <div class="subdetails">
          <div class="action-block">
            <div class="action"><b>Action</b></div>
            <div class="json"><b>Response</b></div>
            <div class="action"><b>Date</b></div>
          </div>
          <div class="action-block" *ngFor="let action of selectUserLog.action; let i = index">
            <div class="action">{{action}}</div>
            <div class="json">{{selectUserLog.json[i]}}</div>
            <div class="action">{{selectUserLog.time[i] | date:'medium'}}</div>
          </div>
        </div>
      </div>
    </md-list-item>
  </md-list>
  <br>
</div>
