@import './../../variable.scss';
.content {
    background-color: $white;
    border-radius: 3px;
    min-height: 100px;
}
.h2pos {
    position: inherit;
    top: 0px;
    left: 15px;
}
.activity {
    width: 100%;
}
.center {
    position: absolute;
    left: 44%;
}

.pagination {
    float: right;
    margin-right: 2em;
    margin-top: 0px;
    button {
        background: transparent;
        border: none;
        outline: none;
        vertical-align: middle;
    }
    i {
        cursor: pointer;
    }
}
.error {
    color: #f00;
    text-align: center;
}
td {
    word-break: break-all;
}
.remove {
    padding: 0px 6px;
    line-height: 30px;
    float: right;
}