<div class="col-md-12 col-lg-12 table-responsive bodyInner">
  <h3 class="heading">Pending Candidate List</h3>
    <table class="col-md-12 list table" *ngIf="!message">
        <thead >
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Facebook link</th>
            <th>Assign Tag</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of candiadteList; let id=index">
            <td>{{data.from}}</td>
            <td>{{data.sender_mail}}</td>
            <td><a href="http://www.facebook.com/{{data.fb_id}}" target="blank">Check Profile</a></td>
            <td>
              <div class="col-md-12 col-sm-12">
              <md-select class="width-100" id="job_profile" placeholder="Assign Job Profile" name="job_profile" required>
                <md-option *ngFor="let tag of jobprofile_tag" [value]="tag.id" (click)="assignTag(tag.id, data.sender_mail)">
                  {{tag.title}}
                </md-option>
              </md-select>
            </div>
          </td>
          </tr>
        </tbody>
    </table>
    <div *ngIf="message">
        <h4>{{messageShow}}</h4>
    </div>

</div>
