<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="inbox-col" *ngFor="let email of inboxEmail" (click)="openEmails(email)">
            <md-card class="emailstyle" [ngClass]="{'bleftblue': email.is_automatic_email_send, 'bleftwhite': !email.is_automatic_email_send}">
                <div class="avatar-image">
                    <img src="{{url}}/{{email.sender_mail}}" onerror="this.src='assets/user.jpg'">
                </div>
                <div class="detailloc {{email.unread ? 'unchecked': 'checked'}}">
                    <h5>{{countEmailSubject(email.subject)}}</h5>
                    <h6 class="inline">
                        <md-icon *ngIf="email.is_attachment" class="attach">attach_file</md-icon> {{email.date | date: 'medium'}}
                    </h6>
                    <p>{{email.sender_mail}} - From {{email.from}}</p>
                </div>
            </md-card>
        </div>
    </div>
</div>