<div class="main" id="create-ques">
    <h4>Select Questions</h4>
    <hr class="linespace">
    <div class="row mar0">
      <div class="col-md-4 col-sm-12 type">
        <mat-select class="width-100" id="questionType" placeholder="Select Type" name="questionType" required [(ngModel)]="questionType">
          <mat-option *ngFor="let tag of testType" [value]="tag.type" (click)="getQues(tag.type)">
            {{tag.type}}
          </mat-option>
        </mat-select>
      </div>
    </div>
      <div *ngIf="questionType!='Subjective'" >
        <ul *ngFor="let group of questions;let i = index" class="parentCl">
          <li (click)="group.hidden=!group.hidden" class="hover">
            <mat-checkbox (change)="selectParent(group)" (click)="$event.stopPropagation()" [checked]="group.selected"></mat-checkbox>
            <span style="margin-left:15px;">{{group.group_name}}</span>
            <mat-icon class="fRight" style="font-size: 24px!important;" *ngIf="!group.hidden">keyboard_arrow_down</mat-icon>
            <mat-icon class="fRight"style="font-size: 24px!important;" *ngIf="group.hidden">keyboard_arrow_up</mat-icon>
            <span class="fRight" *ngIf="group.questions">Total Questions: {{group.questions.length}}</span>

        </li>
            <ul *ngIf="group.hidden" class="childCl">
              <li class="childLi" *ngFor="let ques of group.questions;let i = index">
              <span>
                <mat-checkbox (change)="selectChild(ques)" [checked]="ques.selected"></mat-checkbox>
              </span>
              <span style="margin-left:15px;">{{i+1}}.
                  <span [innerHTML]="ques.question | safeHtml"></span>
              </span>
              <span style="margin-left:15px;">
                  <pre [innerHTML]="ques.description | safeHtml"></pre>
              </span>
              </li>
            </ul>
          </ul>
      </div>
      <div *ngIf="questionType=='Subjective'">
        <mat-card class="pad10 bodyInner2" *ngFor="let ques of questions;let i = index">
          <mat-list class="pad0">
            <mat-list-item class="pad0">
              <div class="col-md-12 pad0">
                <span><mat-checkbox (change)="selectSubjective(ques)" [checked]="ques.selected"></mat-checkbox></span>
                <span style="margin-left:30px;">
                  {{i+1}}. <span style="font-size:14px" [innerHTML]="ques.question | safeHtml"></span>

                </span>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div id="FormButton" class="col-sm-12 col-md-12">
        <button class="btnSave" mat-raised-button color=primary (click)="getAllSelected()">
        Select </button>
      </div>
      </div>
