<div class="main" id="create-ques">
    <h5>Select Questions</h5>
    <hr class="linespace">
    <div class="row mar0">
      <div class="col-md-12 col-sm-12 type">
        <mat-select class="width-100" id="questionType" placeholder="Select Type" name="questionType" required [(ngModel)]="questionType">
          <mat-option *ngFor="let tag of testType" [value]="tag.type" (click)="getQues(tag.type)">
            {{tag.type}}
          </mat-option>
        </mat-select>
      </div>
    </div>
      <div *ngIf="questionType!='Subjective'" >
        <ul *ngFor="let group of questions;let i = index"  (click)="scroll()" class="parentCl">
          <span>
            <mat-checkbox (change)="selectParent(group)"  [checked]="group.selected"></mat-checkbox>
          </span>
          <span  (click)="group.hidden=!group.hidden">
            <span>{{group.group_name}}</span>
            <span class="fRight">Total Questions: {{group.questions.length}}</span>
          </span>
            <ul *ngIf="group.hidden" class="childCl">
              <li  class="childLi" *ngFor="let ques of group.questions;let i = index">
              <span>
                <mat-checkbox (change)="selectChild(ques)" [checked]="ques.selected"></mat-checkbox>
              </span>
              <span>{{i+1}}.
                  <span [innerHTML]="ques.question | safeHtml"></span>
              </span>
              </li>
            </ul>
          </ul>
      </div>
      <div *ngIf="questionType=='Subjective'">
        <mat-card class="pad10 bodyInner2" *ngFor="let ques of questions;let i = index">
          <mat-list class="pad0">
            <mat-list-item class="pad0">
              <div class="col-md-12 pad0">
                <ul class="quesView">
                  <li>
                    <mat-checkbox (change)="$event ? masterToggle() : null"></mat-checkbox>
                    <h4>{{i+1}}.
                      <span [innerHTML]="ques.question | safeHtml"></span>
                    </h4>
                  </li>
                </ul>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      </div>
