<div class="mainform">
    <form id="addUserForm" autoComplete="off" [formGroup]="addNewSpamContactForm">
        <mat-card-title class="cardsub">
            Add New Spam Contact
        </mat-card-title>
        <mat-card-subtitle class="error" *ngIf="showmessage">{{message}}</mat-card-subtitle>
        <mat-card-content>
            <table class="width-100">
                <tr>
                    <td>
                        <mat-form-field class="width-100">
                          <input matInput id="add-spam-emal" placeholder="Email" type="text" [formControl]="addNewSpamContactForm.controls['email']">
                        </mat-form-field>
                        <mat-error *ngIf="!addNewSpamContactForm.controls['email'].valid && addNewSpamContactForm.controls['email'].touched">
                            Please enter a valid email
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="close-add-user-button" mat-raised-button (click)="close()"> Close </button>
                        <button id="add-user-button" type="submit" mat-raised-button color=primary [disabled]="addNewSpamContactForm.invalid || loading" (click)="addUser()"> Add Contact </button>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </form>
</div>