.header {
	position: relative;
    top: -24px;
    border-bottom: 1px solid black;
}
.h-text {
	font-size: 20px;
    opacity: 0.8;
}
.main {
	width: 100%;
}
.width-33 {
	width: 32%;
	padding: 12px 0px;
}
.pull-right {
	float: right;
}