<md-card>
  <form id="quesForm" autoComplete="off" #quesForm="ngForm" (ngSubmit)="createQues(quesForm)">
    <md-card-title class="cardsub">
      <p *ngIf="editabledialog">Edit Questions</p>
      <p *ngIf="!editabledialog">Create Questions</p>
    </md-card-title>
    <hr class="linespace">
    <md-card-subtitle class="error" *ngIf="showmessage">{{message}}</md-card-subtitle>
    <md-card-content>
      <div class="row">
        <div class="col-md-6 col-sm-12" *ngIf="questionEditable">
          <md-select class="width-100" id="job_profile" placeholder="Select Job Profile" name="job_profile" required [(ngModel)]="job_profile">
            <md-option *ngFor="let tag of jobprofile_tag" [value]="tag.id">
              {{tag.title}}
            </md-option>
          </md-select>
        </div>
        <div class="col-md-6 col-sm-12">
          <md-select class="width-100" id="examGroup" placeholder="Select Group" name="examId" required [(ngModel)]="examId">
            <md-option *ngFor="let tag of examgroup" [value]="tag.id">
              {{tag.exam_subject}}
            </md-option>
          </md-select>
        </div>
      </div>
      <br>
      <div class="row">
        <div id="Question" class="col-md-12 col-sm-12">
          <md-input-container class="width-90">
            <input mdInput name="question" type="text" placeholder="Question" required  [(ngModel)]="question" autoComplete="off">
            <md-error>
                Question field is required
            </md-error>
          </md-input-container>
        </div>
        <!-- <div id="right_answer" class="col-md-12 col-sm-12">
          <md-input-container class="width-90">
            <input mdInput name="answer" type="text" placeholder="Answer" required [(ngModel)]="answer" autoComplete="off">
            <md-error>Answer Required</md-error>
          </md-input-container>
        </div> -->
        <md-radio-group>


        <div id="option-1" class="col-md-12 col-sm-12">
          <md-radio-button value="1" (change)="answerRight($event)" [checked]="ans_id=='1'"></md-radio-button>
          <md-input-container class="width-90">
            <input mdInput name="option1" type="text" placeholder="Option-1" required [(ngModel)]="opt1" autoComplete="off">
            <md-error>Option-1 Required</md-error>
          </md-input-container>
        </div>

        <div id="option-2" class="col-md-12 col-sm-12">
        <md-radio-button value="2" (change)="answerRight($event)" [checked]="ans_id=='2'"></md-radio-button>

          <md-input-container class="width-90">
            <input mdInput name="option2" type="text" placeholder="Option-2" required [(ngModel)]="opt2" autoComplete="off">
            <md-error>Option-2 Required</md-error>
          </md-input-container>
        </div>
        <div id="option-3" class="col-md-12 col-sm-12">
        <md-radio-button value="3" (change)="answerRight($event)" [checked]="ans_id=='3'"></md-radio-button>

          <md-input-container class="width-90">
            <input mdInput name="option3" type="text" placeholder="Option-3"  [(ngModel)]="opt3" autoComplete="off">
            <md-error>Option-3</md-error>
          </md-input-container>
        </div>
        <div id="option-4" class="col-md-12 col-sm-12">
        <md-radio-button value="4" (change)="answerRight($event)" [checked]="ans_id=='4'"></md-radio-button>

          <md-input-container class="width-90">
            <input mdInput name="option4" type="text" placeholder="Option-4"  [(ngModel)]="opt4" autoComplete="off">
            <md-error>Option-4</md-error>
          </md-input-container>
        </div>
        </md-radio-group>

        <div id="FormButton" class="col-md-12">
          <button id="save" type="submit" md-raised-button color=primary [disabled]="quesForm.invalid"> Save </button>
        </div>
      </div>
    </md-card-content>
    </form>
  </md-card>
