.marAuto{
  margin: auto;
}
.btnwidth{
    width: 220px;
    display: block;
    height: 60px;
}
.or{
  text-align:center;
  margin: 10px 0 10px;
}
h4{
  text-align: center;
}
h1{
  font-size: 64px;
  color: white;
  margin-top: 15%;
  text-align: center;
}
.bodyInner{
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px;
    margin-bottom: 5px;
    background: white;
}
