<md-sidenav-container class="width100">
    <md-sidenav #sidenav class="main">
        <div class="mainlogo">
            <img src="assets/logo.png">
        </div>
        <hr>
        <div class="hovestyle" (click)="goto('dashboard','Dashboard');sidenav.close()">
            <a class="mainnav">Dashboard</a>
        </div>
        <hr>
        <div class="hovestyle" (click)="goto('inbox','Inbox');sidenav.close()">
            <a class="mainnav">Inbox</a>
        </div>
        <hr>
  <!--       <div class="hovestyle" (click)="goto('useractivity','User Activity Logs');sidenav.close()">
            <a class="mainnav">User Activity Logs</a>
        </div>
        <hr> -->
        <div class="hovestyle" (click)="goto('setting','Settings');sidenav.close()">
            <a class="mainnav">Settings</a>
        </div>
        <hr>
<!--         <div class="hovestyle" (click)="goto('changepassword','Change Password');sidenav.close()">
            <a class="mainnav">Change Password</a>
        </div> -->
        <hr>
        <div class="hovestyle" (click)="logout()">
            <a class="mainnav">Logout</a>
        </div>
        <hr>
    </md-sidenav>
    <div fxLayout="column" fxFlex class="bgcolor">
        <md-toolbar color="accent">
            <button md-icon-button (click)="sidenav.open()">
          <md-icon>menu</md-icon>
          </button>
            <span>{{title}}</span>
            <span fxFlex="86%"> </span>
            <a mdTooltip="Fetch Latest Emails" class="cursor-pt" *ngIf="title == 'Inbox'" (click)="emailRefresh()">
            <i>
            <small><md-icon>system_update_alt</md-icon></small>
            </i>
            </a>
            <a mdTooltip="Fetch Emails By Day" class="cursor-pt" *ngIf="title == 'Settings'" (click)="fetchEmailByDay()">
            <i>
            <small><md-icon>system_update_alt</md-icon></small>
            </i>
            </a>
            <md-spinner class="commonSpinner" *ngIf="progressSpinnner"></md-spinner>
            <span fxFlex></span>
        </md-toolbar>
       <router-outlet></router-outlet>
    </div>
</md-sidenav-container>

