@import './../../variable.scss';
md-sidenav {
    width: 280px;
}
@media screen and (min-width: 320px) {
    md-sidenav {
        width: 240px;
    }
}
@media screen and (min-width: 480px) {
    md-sidenav {
        width: 280px;
    }
}
.mat-sidenav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
.mat-sidenav::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }
.mat-sidenav::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
md-toolbar {
    box-shadow: 0 2px 5px 0 $toolbarcolor;
}
.width100 {
    width: 100%;
}
.mainnav {
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: 16px;
}
.hovestyle {
    padding: 10px 0px;
    position: relative;
    cursor: pointer;
}
md-sidenav-container {
    height: 100%;
    md-sidenav {
        hr {
            margin: -1px 0px 0px;
            height: 1px;
            border: none;
            background-color: $hrlinecolor;
        }
        div.hovestyle:hover {
            background-color: $hovecolor;
        }
    }
}
.mainlogo {
    background-color: $mainlogo;
    text-align: center;
    padding: 30px;
}
.main {
    text-decoration: none;
    a:hover {
       text-decoration: none;
    }
}
.bgcolor {
    background-color: #2e3e4e;
    width: 100%;
    height: 100%;
}
.cursor-pt {
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.cursor-cv{
    cursor: pointer;
    position: absolute;
    right: 40px;
}
.mat-list-item-content {
    height: auto !important;
}
.commonSpinner {
    width: 50px;
    height: 50px;
    path {
        stroke: #fff;
    }
    position: absolute;
    right: 80px;
}
.sidehide{
   display: none;
}
