@import './../../variable.scss';
.login-card {
    width: 315px;
    position: absolute;
    left: 36%;
    top: 25%;
}
.width-100 {
    width: 100%;
}
md-card-actions {
    margin-left: 0px;
    margin-right: 0px;
}
@media screen and (min-width: 320px) and (max-width: 990px) {
    .mainform{
        div.row {
            div {
                padding: 0px;           
            }
        }
    }
}
.error {
    color: $red;
    text-align: center;
}
.text-center {
    text-align: center;
}