<div class="mainform">
    <md-card>
        <form autoComplete="off" [formGroup]="resetPasswordForm">
            <md-card-title class="cardsub">
                Reset Password
            </md-card-title>
            <md-card-subtitle class="error" *ngIf="showmessage">{{message}}</md-card-subtitle>
            <md-card-content>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <md-input-container class="width-100">
                                <input mdInput placeholder="Old Password" type="password" [formControl]="resetPasswordForm.controls['old_password']">
                            </md-input-container>
                            <md-error *ngIf="!resetPasswordForm.controls['old_password'].valid && resetPasswordForm.controls['old_password'].touched">
                                Please enter old password
                            </md-error>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <md-input-container class="width-100">
                                <input mdInput placeholder="New Password" type="password" [formControl]="resetPasswordForm.controls['new_password']">
                            </md-input-container>
                            <md-error *ngIf="!resetPasswordForm.controls['new_password'].valid && resetPasswordForm.controls['new_password'].touched">
                                Please enter new password
                            </md-error>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" md-raised-button color=primary [disabled]="resetPasswordForm.invalid || loading" (click)="resetPassword()"> Update </button>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </form>
    </md-card>
</div>