<div class="mainform">
    <form id="addUserForm" autoComplete="off" [formGroup]="addNewUserForm">
        <mat-card-title class="cardsub">
            Add New User
        </mat-card-title>
        <mat-card-subtitle class="error" *ngIf="showmessage">{{message}}</mat-card-subtitle>
        <mat-card-content>
            <table class="width-100">
                <tr>
                    <td class="width-50">
                        <mat-form-field class="width-100">
                          <input matInput id="add-user-email" placeholder="Email Id" type="text" [formControl]="addNewUserForm.controls['email']">
                        </mat-form-field>
                        <mat-error *ngIf="!addNewUserForm.controls['email'].valid && addNewUserForm.controls['email'].touched">
                            Please enter a valid email
                        </mat-error>
                    </td>
                    <td class="width-50">
                        <mat-select id="user-role-select" placeholder="Select Role" class="width-100 role-select" [formControl]="addNewUserForm.controls['user_type']">
                           <mat-option *ngFor="let user of userType; trackBy: userTypeTrack" [value]="user">{{ user }}</mat-option>
                        </mat-select>
                    </td>
                </tr>
                <tr>
                    <td class="width-50">
                        <mat-form-field class="width-100">
                          <input matInput id="add-user-password" placeholder="Password" type="password" [formControl]="addNewUserForm.controls['password']">
                        </mat-form-field>
                        <mat-error *ngIf="!addNewUserForm.controls['password'].valid && addNewUserForm.controls['password'].touched">
                            Please enter password
                        </mat-error>
                    </td>
                    <td class="width-50">
                        <mat-form-field class="width-100">
                          <input matInput id="add-user-cpassword" placeholder="Confirm Password" type="password" [formControl]="addNewUserForm.controls['confirm_password']">
                        </mat-form-field>
                        <mat-error *ngIf="addNewUserForm.controls['confirm_password'].touched && addNewUserForm.controls['confirm_password'].hasError('notEquivalent')">Password don't match</mat-error>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="close-add-user-button" mat-raised-button (click)="close()"> Close </button>
                        <button id="add-user-button" type="submit" mat-raised-button color=primary [disabled]="addNewUserForm.invalid || loading" (click)="addUser()"> Add User </button>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </form>
</div>