<main *ngIf="scheduleData && scheduleData.length">
  <article>
    <figure>
      <img src="assets/logo-high-res.png">
    </figure>

    <section class="mat-elevation-z1" *ngIf="!scheduled && !errorScheduled && !notInterested && !notInterestedError; else successMessage">
      <h3>Schedule a time when HR's can contact you.</h3>

      <form [formGroup]="scheduleInterviewForm" (ngSubmit)="addSchedule(scheduleInterviewForm.value)">

        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="pickerfrom" [matDatepickerFilter]="dateFilter" placeholder="Choose a date"
            formControlName="shedule_date">
          <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerfrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select formControlName="shedule_time" placeholder="Select time">
            <mat-option *ngFor="let time of scheduleTime" [value]="time.time">{{time.time}}</mat-option>
          </mat-select>
          <mat-hint align="end">Please Select Date First</mat-hint>
        </mat-form-field>
        <span class="not-interested" (click)="setNotInterested()">Not Interested?</span>
        <button mat-raised-button color="primary" [disabled]="scheduleInterviewForm.invalid || apiInProgress">Submit
          <div *ngIf="apiInProgress" class="loader"></div>
        </button>
      </form>

    </section>
    <ng-template #successMessage>
      <div class="success" *ngIf="scheduled">Thank you for showing your interest for interview. <br/> HR's will contact you soon.</div>
      <div class="success" *ngIf="errorScheduled"> You have already scheduled your interview. <br/> Hr's will contact you soon.</div>
      <div class="success" *ngIf="notInterested"> You have marked yourself as not interested.</div>
      <div class="success" *ngIf="notInterestedError"> You have already marked yourself as not interested.  <br/> Contact HR!</div>
    </ng-template>
  </article>

  <footer>
    <div class="info">
      Want to know more about job profiles. Install our app.
    </div>
    <div class="mobile">
      <a href="https://play.google.com/store/apps/details?id=com.hrrecruits&hl=en">
        <img src="assets/google_play.png" alt="Play store">
      </a>
    </div>
  </footer>
</main>
