<div class="nav" *ngIf="isHome">
  <h3>App Statics</h3>
  <p routerLink="/login" mdTooltip="Login"><i class="material-icons">power_settings_new</i></p>
</div>
<div class="dashboard" *ngIf="dashboardData">
  <md-card>
    <md-card-title>Job Profile (per day)</md-card-title>
    <md-card-content>
      <div class="charts">
        <canvas baseChart [datasets]="dashboardData.day_wise" [labels]="dashboardData.day_wise[0]['dates']" [options]="dashboardChartOptions"
          [colors]="dashboardChartColor" [legend]="lineChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Job Profile (per month)</md-card-title>
    <md-card-content>
      <div class="charts">
        <canvas baseChart [datasets]="dashboardData.month_wise" [labels]="dashboardData.month_wise[0]['months']" [options]="dashboardChartOptions"
          [colors]="dashboardChartColor" [legend]="lineChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Job Profile (per round distribution)</md-card-title>
    <md-card-content>
      <div class="charts">
        <canvas baseChart [datasets]="dashboardData.rounds" [labels]="dashboardData.rounds[0]['rounds']" [options]="dashboardChartOptions"
          [colors]="dashboardChartColor" [legend]="lineChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Automatic Email (per day)</md-card-title>
    <md-card-content>
      <div class="charts">
        <canvas baseChart [datasets]="dashboardData.email_stat" [labels]="dashboardData.email_stat[0]['dates']" [options]="dashboardChartOptions"
          [colors]="dashboardChartColor" [legend]="lineChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Candidate Selection (per month)</md-card-title>
    <md-card-content>
      <div class="charts">
          <canvas baseChart [datasets]="dashboardData.selected_candidate" [labels]="dashboardData.selected_candidate[0]['month']" [options]="dashboardChartOptions"
          [colors]="dashboardChartColor" [legend]="lineChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </md-card-content>
  </md-card>
</div>
