.dashboard {
  background-color: #2e3e4e;
  padding: 10px;
  md-card {
    margin: 10px;
    .charts {
      canvas {
        height: 300px;
      }
    }
  }
}

.nav {
  background-color: #00BCD4;
  height: 64px;
  width: 100%;
  color: #fff;
  h3 {
    display: inline-block;
    padding-left: 2em;
  }
  p {
    display: inline-block;
    float: right;
    padding-right: 2em;
    cursor: pointer;
  }
}
