<md-sidenav-container>
    <md-sidenav #sidenav class="example-sidenav">
        <div class="mainlogostyle">
            <img src="assets/logo.png">
        </div>
        <hr class="hrstyleformainsidenav">
        <div class="mainsidenavlist">
            Dashboard
        </div>
        <hr class="hrstyleformainsidenav">
        <div class="mainsidenavlist">
            Inbox
        </div>
        <hr class="hrstyleformainsidenav">
        <div class="mainsidenavlist">
            User Activity Logs
        </div>
        <hr class="hrstyleformainsidenav">
        <div class="mainsidenavlist">
            Settings
        </div>
        <hr class="hrstyleformainsidenav">
        <div class="mainsidenavlist">
            Change Password
        </div>
        <hr class="hrstyleformainsidenav">
        <div class="mainsidenavlist">
            Logout
        </div>
        <hr class="hrstyleformainsidenav">
    </md-sidenav>

    <div fxLayout="column" fxFlex>

        <md-toolbar color="accent">
            <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
            <span>Inbox</span>
            <!-- Filler that pushes the menu button to the end of the toolbar -->
            <span fxFlex></span>
        </md-toolbar>

        <md-sidenav-container fxFlex>
            <md-sidenav mode="side" opened>

                <!-- <md-nav-list>
            <md-list-item *ngFor="let user of users" (click)="selectedUser = user">
              <md-icon svgIcon="avatars:{{user.avatar}}" class="avatar"></md-icon>
              <span>{{user.name}}</span>
            </md-list-item>
          </md-nav-list> -->

                <md-list>
                    <md-list-item  class="mainsidenavlist" (click)="firstlist=!firstlist">
                        <md-icon md-list-icon>inbox</md-icon>
                        <a md-line> Inbox </a>
                        <!-- <md-icon>keyboard arrow up</md-icon> -->
                    </md-list-item>
                    <md-list *ngIf="firstlist">
                        <md-list-item class="sublistsidenav">
                            <md-icon md-list-icon style="color:#81d4fa;">mail</md-icon>
                            Mails (10/100)
                        </md-list-item>
                        <md-list-item class="sublistsidenav">
                            <div size="20" color="#757575" class="logorednavlist">
                                <span>I</span>
                            </div>
                            <a>Ignore (29/34)</a>
                        </md-list-item>
                        <md-list-item class="sublistsidenav">
                            <div size="20" color="#757575" class="logoorangenavlist">
                                <span>R</span>
                            </div>
                            <a>Reject (7/10)</a>
                        </md-list-item>
                        <md-list-item class="sublistsidenav">
                            <div size="20" color="#757575" class="logobluenavlist">
                                <span>S</span>
                            </div>
                           <a>Schedule (12/30)</a>
                        </md-list-item>
                    </md-list>


                    <md-list-item class="mainsidenavlist" (click)="secondlist=!secondlist">
                        <md-icon md-list-icon style="color: #2196f3;">assignment</md-icon>
                        <a md-line> Jobs </a>
                    </md-list-item>
                    <md-list *ngIf="secondlist">
                     <md-list-item class="sublistsidenav">
                            <div size="20" color="#757575" class="logoorangenavlist">
                                <span>A</span>
                            </div>
                           <a>Angular JS</a>
                        </md-list-item>
                         <md-list-item class="sublistsidenav">
                            <div size="20" color="#757575" class="logobluenavlist">
                                <span>P</span>
                            </div>
                           <a>Php</a>
                        </md-list-item>
                         <md-list-item class="sublistsidenav">
                            <div size="20" color="#757575" class="logorednavlist">
                                <span>H</span>
                            </div>
                           <a>Hybrid Mobile Apps</a>
                        </md-list-item>
                         <md-list-item class="sublistsidenav">
                            <div size="20" color="#757575" class="logobluenavlist">
                                <span>T</span>
                            </div>
                           <a>testing</a>
                        </md-list-item>
                     </md-list>
                    <md-list-item class="mainsidenavlist">
                        <md-icon md-list-icon style="color: #ff4081">drafts</md-icon>
                        <a md-line>Candidates</a>
                    </md-list-item>
                    <!--     <md-list>
         <md-list-item class="mainsidenavlist"> First round </md-list-item>
         <md-list-item class="mainsidenavlist"> Hire </md-list-item>
          <md-list-item class="mainsidenavlist"> Machine test </md-list-item>
         </md-list> -->
                </md-list>


            </md-sidenav>

            <!-- <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px" style="background-color: #2e3e4e;"> -->
           <div class="content" style="background-color: #2e3e4e;">
             <div>
             	<ul class="pagination pull-right">
                  <li>
                      <span>
                           Page no: 1
                      </span>
                  </li>
                  <li class="disabled">
                      <span>«</span>
                  </li>
                 <li><span>»</span>
                 </li>
                </ul>
             </div>
       <!--       <md-card style="display: inline-table;padding: 0px;">
                  <button md-raised-button color="white">«</button>
                  <button md-raised-button color="white">Page no: 1</button>
                  <button md-raised-button color="white">»</button>
             </md-card> -->
                <div *ngFor="let email of emaillist">
                <md-card class="borderleftblue">
                    <div size="20" color="#757575" class="roundcircleforemailcheckbox">
                            <span>S</span>
                    </div>
                    <!-- <md-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></md-icon> -->
                    <div>
                      <h4 style="display: inline;">{{email.subject}}</h4>
                      <h6 style="display: inline;">{{email.email_date}}</h6>
                      <p>{{email.sender_mail}} - From {{email.from}}</p>
                    </div>
                     <div>
                     <button md-icon-button [mdMenuTriggerFor]="themeMenu">
                       <md-icon>more_vert</md-icon>
                    </button>
                    </div>
                </md-card>
                <br>
                </div>

                 <md-card>
                    <!-- <md-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></md-icon> -->
                    <h3>{{selectedUser.name}}</h3>
                    <p>{{selectedUser.details}}</p>
                </md-card>
                
               <!--  <md-card fxFlex fxLayout="column" fxLayoutGap="14px">
                    <md-slide-toggle>Is Admin?</md-slide-toggle>
                    <md-slide-toggle>Is Cool?</md-slide-toggle>
                </md-card> -->
      <!--          <md-grid-list cols="3" rowHeight="80px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="'white'"
      [style.margin-top]="'5px'"
      [style.margin-bottom]="'5px'">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list> -->
            </div>
        </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

    </div>

</md-sidenav-container>