$outercolor: #1e3750;
$white: #ffffff;

$linkcolor: rgb(0, 188, 212);
$cyan: cyan;
$red: #ff0000;
$cactive-1: #356161;
$bolcolor: #42acdc;
$cactive-2: #f8f8f8;


$borderleftblue: #81d4fa;
$jobassigncolor: #2196f3;
$drafcolor: #ff4081;

$hovecolor: #ecf5ef;
$pagincolor: #bdb1b1;
$mainlogo: rgb(46, 62, 78);

$contentcolor: #2e3e4e;
$logoredcolor: rgb(239, 46, 70);
$logoorangecolor: rgb(203, 137, 27);
$logobluecolor: rgb(186, 33, 211);
$roundcirclecolor: rgb(186, 33, 211);


$offcolor: rgb(183, 28, 28);
$oncolor: rgb(139, 195, 74);
$charcolor: rgb(236, 64, 122);
$tbodycolor: rgb(250, 250, 250);
$tablistcolor: #d0d0d0;
$lightblue: #e0f7fa;

$toolbarcolor: rgba(0,0,0,0.26);
$hrlinecolor: rgb(224, 224, 224);


$emailbluecolor: #1a237e;
$emailtempedit: #64dd17;
$emailtempdelete: #ff4081;

$si-tem-color: #b2ebf2;
$c-hs: #e0c5ba;