<div class="col-md-12 col-lg-12 table-responsive bodyInner">
  <h3 class="heading">Candidates Scores</h3>
  <div class="col-md-12 no-pad marBott20">
    <mat-card class="card-pos">
      <form autoComplete="off" #searchForm="ngForm" (ngSubmit)="searchScorelist(searchForm)">
        <mat-select name="option" placeholder="Search In" required [(ngModel)]="option">
          <mat-option value="name">Name</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="date">Date</mat-option>
        </mat-select>

        <mat-form-field class="mar-pos wid-300" *ngIf="option!=='date'">
          <input matInput name="keyword" placeholder="Search" required [(ngModel)]="keyword">
        </mat-form-field>
        <mat-form-field class="mar-pos wid-200" *ngIf="option==='date'">
          <input matInput name="start_date" [matDatepicker]="picker" required placeholder="Choose start date" [(ngModel)]="start_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="mar-pos wid-200" *ngIf="option==='date'">
          <input matInput name="end_date" [matDatepicker]="picker1" required placeholder="Choose end date" [(ngModel)]="end_date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <button name="searchbtn" type="submit" mat-raised-button color=primary [disabled]="searchForm.invalid"> Search </button>
        <button name="searchbtn" mat-raised-button (click)="getScore('');searchForm.reset()">
          Clear Search </button>
      </form>
    </mat-card>
  </div>
  <p *ngIf="!scores || scores.length == 0">
    <b>No Data</b>
  </p>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="exam_submit_date" matSortDirection="desc">
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="column !== 'action'">{{column == 'exam_submit_date' ? (element[column] | date:'medium') : element[column]}}</span>
        <button mat-raised-button *ngIf="column == 'action'" (click)="getDetailedScore(element)">View Report</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>