<div class="col-md-12 col-lg-12 table-responsive bodyInner">
  <h3 class="heading">Candidates Scores</h3>
  <div class="col-md-12 no-pad marBott20">
    <mat-card class="card-pos">
      <form autoComplete="off" #searchForm="ngForm" (ngSubmit)="searchScorelist(searchForm)">
        <mat-select name="option" placeholder="Search In" required [(ngModel)]="option">
          <mat-option value="name">Name</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="date">Date</mat-option>
        </mat-select>

        <mat-form-field class="mar-pos wid-300" *ngIf="option!=='date'">
          <input matInput name="keyword" placeholder="Search" required [(ngModel)]="keyword">
        </mat-form-field>
        <mat-form-field class="mar-pos wid-200" *ngIf="option==='date'">
          <input matInput name="start_date" [matDatepicker]="picker" required placeholder="Choose start date" [(ngModel)]="start_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="mar-pos wid-200" *ngIf="option==='date'">
          <input matInput name="end_date" [matDatepicker]="picker1" required placeholder="Choose end date" [(ngModel)]="end_date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <button name="searchbtn" type="submit" mat-raised-button color=primary [disabled]="searchForm.invalid"> Search </button>
        <button name="searchbtn" mat-raised-button  (click)="getScore('');searchForm.reset()">
        Clear Search </button>
      </form>
    </mat-card>
  </div>
    <table class="col-md-12 list table">
        <thead >
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Test Date</th>
            <th>Score</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of scores; let id=index">
            <td>{{data.from}}</td>
            <td>{{data.sender_mail}}</td>
            <td>{{data.exam_date|  date: 'medium'}}</td>
            <td class="green">{{data.examScore}}</td>
            <td><a class="link" (click)="getDetailedScore(data.fb_id)">View Report</a></td>
          </tr>
        </tbody>
    </table>

</div>
