<md-sidenav-container class="width100">
  <div class="bgcolor">
    <div class="row" id="toolbar">
      <md-toolbar id="topnav" color="accent">
        <span><img class="profile_img" [src]="img"></span>
        <span>{{candidateName}}</span>
        <div class="mainlogo">
          <img src="assets/logo.png">
        </div>
        <div id="logout" class="hovestyle" (click)="fblogout()">
          <p class="mainnav">Logout</p>
        </div>
      </md-toolbar>
        <div class="content">
          <div class="row">
            <div class="col-md-12 pad0">

              <router-outlet ></router-outlet>
            </div>
          </div>
        </div>

    </div>
  </div>

</md-sidenav-container>
