<div class="outerbody">
    <div class="logo">
        <img class="img-responsive" src="assets/logo.png">
    </div>
    <div class="login-card">
        <mat-card>
            <form autoComplete="off" [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                <mat-card-title>
                    <h4>Forgot Password</h4>
                </mat-card-title>
                <mat-card-subtitle class="error" *ngIf="showmessage">{{message}}</mat-card-subtitle>
                <mat-card-content>
                    <table class="width-100">
                        <tr>
                            <td>
                                <mat-form-field class="width-100">
                                    <input matInput type="email" formControlName="email" placeholder="Email" autoComplete="off" [formControl]="forgotForm.controls['email']">
                                    <mat-error>Enter Valid Email</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </mat-card-content>
                <mat-card-actions>
                    <button *ngIf="!loading" type="submit" mat-raised-button color=primary class="width-100"  [disabled]="!forgotForm.valid">Submit</button>
                    <mat-spinner *ngIf="loading" class="spin"></mat-spinner>
                </mat-card-actions>
            </form>
        </mat-card>
        <br>
        <div class="text-center">
            <a routerLink="/login" class="forpas">Sign In</a>
        </div>
    </div>
</div>