<md-card class="background-white">

<div class="m-b">
    <div class="example-button-row default-tag-buttons" *ngIf="historyList.data">
        <span *ngFor="let tag of tags.Default">
            <a md-raised-button class="cyan" *ngIf="tag.id != selectedTag" [ngStyle]="getColor(tag.title)" (click)="assignTag(tag.id)"><i class="material-icons">{{getIcon(tag.title)}}</i> {{tag.title}}
            </a>
        </span>
        <a md-raised-button class="cyan" *ngIf="tags && tags.Manual && tags.Manual[0]" (click)="assignTag(tags.Manual[0].id)">{{tags.Manual[0].title}}</a>
        <a md-raised-button class="cyan c-his" [mdMenuTriggerFor]="menu" *ngIf="historyList.data?.length > 1"> Candidate History <span class="labels">{{historyList?.data?.length ? historyList.data.length - 1: 0}}</span>
        <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
</div>
<md-menu #menu="mdMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
    <div md-menu-item *ngFor="let email of historyList.data" (click)="showEmail(email)" 
    style="line-height: 20px;width: 132px">
    <span style="display: block;color: grey;">{{email.email_date | date: 'dd MMM y'}}</span>  
        <span style="font-size: 12px;color: cornflowerblue;">{{email.subject}}</span>
    </div>
</md-menu>

<div class="bod" *ngFor="let H_email of historyList.data">
    <div class="b-b" *ngIf="selectedEmail && H_email._id === selectedEmail._id">
        <h2 class="font-300">{{H_email.subject}}</h2>
    </div>
    <div class="p-y" *ngIf="selectedEmail && H_email._id === selectedEmail._id">
        from
        <a>{{H_email.from}} {{H_email.sender_mail}}</a>
        <span class="text-xs" *ngIf="H_email._id === selectedEmail._id"> on {{H_email.date | date: 'medium'}}</span>
    </div>
    <div *ngIf="selectedEmail && H_email._id === selectedEmail._id" [innerHTML]="H_email.body | safeHtml" class="email-body" [ngStyle]="{ 'width': (selectedEmail && H_email._id === selectedEmail._id && H_email?.attachment?.length) ? '70%' : '100%'}">
    </div>
    <div *ngIf="selectedEmail && H_email._id === selectedEmail._id && H_email?.attachment?.length" style="width: 25%; display: inline-block;">
        <h4 class="at-hed">Attachments</h4>
        <div class="attach" *ngFor="let attach of H_email.attachment" >
            <div class="attach-click" (click)="openAttachment(attach.link)"></div>
            <iframe scrolling="no" class="email-attachment" [src]="attach.link | safeUrl">
              <p>Your browser does not support iframes.</p>
            </iframe>
            <div class="at-hd">
                <a>{{attach.name}}</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</md-card>