@import './../../variable.scss';
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
md-toolbar {
	background-color: cyan;
}
.content {

}
.header {
	margin-bottom: 30px;
}
.m-b {
	margin-bottom: 1rem !important;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
}
.cyan {
	background-color: cyan;
	margin-left: 1px;
    margin-right: 5px;
}
.c-his {
	background-color: $c-hs;
	margin-left: 1px;
    margin-right: 5px;
}
.b-b {
	border-bottom: 1px solid rgba(120,130,140,.13);
}
.p-y {
	padding-bottom: 1 rem !important;
	padding-top: 1 rem !important;
	margin-top: 15px;
	margin-bottom: 15px;
	a {
	   cursor: pointer;
	   outlint: 0;
	   text-decoration: none;
	}
}
.text-xs {
	font-size: .75rem;
}
.font-300 {
	margin-bottom: 5px;
	font-weight: 300;
}
.ifset {
	height: 500px;
	width: 100%;
}
.no-pos {
	padding: 0px !important;
}
md-grid-tile {
	overflow: visible;
}
.mat-grid-tile {
	overflow: auto;
}
.f-r {
    left: 83%;
}
.h-ps {
	margin: 6px;
}
.labels {
      background-color: #6887ff;
      color: rgba(255,255,255,.87);
      padding: .15em .35em;
      font-size: 75%;
      line-height: 1;
      vertical-align: baseline;
      font-weight: 700;
      border-radius: .2rem;
      text-align: center;
      white-space: nowrap;
      display: inline-block;
}
.attach {
	margin-bottom: .5rem!important;
	margin-right: .5rem!important;
	border: 1px solid rgba(120,130,140,.13);
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}
.at-hd {
	padding: .25rem!important;
	border-bottom: 1px solid rgba(120,130,140,.13);
	cursor: pointer;
}
.p-a-xs {
	width: 120px;
	padding: .25rem!important;
}
.at-hed {
	text-align: center;
    color: aqua;
}