@import './../../variable.scss';
.example-icon {
  padding: 0 14px;
}
.background-white{
	background-color: #fff;
}
.example-spacer {
  flex: 1 1 auto;
}
md-toolbar {
	background-color: cyan;
}
.content {

}
.header {
	margin-bottom: 30px;
}
.m-b {
	margin-bottom: 1rem !important;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
}
.cyan {
	background-color: cyan;
	margin-left: 1px;
    margin-right: 5px;
}
.c-his {
	background-color: #71B9F9;
	margin-left: 1px;
    margin-right: 5px;
}
.b-b {
	border-bottom: 2px solid rgba(120,130,140,.13);
	position: relative;
}
.p-y {
	padding-bottom: 1 rem !important;
	padding-top: 1 rem !important;
	margin-top: 15px;
	margin-bottom: 15px;
	a {
	   cursor: pointer;
	   outlint: 0;
	   text-decoration: none;
	}
}
.text-xs {
	font-size: .75rem;
}
.font-300 {
	margin-bottom: 5px;
	font-weight: bold;
}
.ifset {
	height: 500px;
	width: 100%;
}
.no-pos {
	padding: 0px !important;
}
md-grid-tile {
	overflow: visible;
}
.mat-grid-tile {
	overflow: auto;
}
.f-r {
    left: 83%;
}
.h-ps {
	margin: 6px;
}
.labels {
      background-color: #6887ff;
      color: rgba(255,255,255,.87);
      padding: .15em .35em;
      font-size: 75%;
      line-height: 1;
      vertical-align: baseline;
      font-weight: 700;
      border-radius: .2rem;
      text-align: center;
      white-space: nowrap;
      display: inline-block;
}
.attach {
	margin-bottom: .5rem!important;
	margin-right: .5rem!important;
	border: 1px solid rgba(120,130,140,.13);
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	position: relative;
	width: 100%;
}
.attach-click{
	background-color: #fff;
    font-weight: bold;
    margin: 2px;
    float: right;
    position: relative;
    top: 0;
    right: 0px;
}
.at-hd {
	padding: .25rem!important;
	border-bottom: 1px solid rgba(120,130,140,.13);
	cursor: pointer;
}
.p-a-xs {
	width: 120px;
	padding: .25rem!important;
}
.at-hed {
	text-align: left;
	margin-bottom: 0px;
}
.default-tag-buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:100%;
    margin-bottom: 4px;
    .cyan{
        line-height:20px!important;
        margin: 0px 4px 0px 4px;
        font-weight:bold;
        color:#fff;
        font-size: 12px;
    }
}
.material-icons{
        font-size: 14px!important;
        line-height:1px;
	    font-family: 'Material Icons';
	    font-weight: normal;
	    font-style: normal;
	    letter-spacing: normal;
	    text-transform: none;
	    display: inline-block;
	    white-space: nowrap;
	    word-wrap: normal;
	    direction: ltr;
	    -webkit-font-feature-settings: 'liga';
	    -webkit-font-smoothing: antialiased;
    }
.email-attachment{
	height: 750px;
	width: 100%;
}
.accordian-icon-box {
	position: absolute;
	cursor: pointer; 
	right: 0;
    top: 0;
    .material-icons {
    	line-height: 16px;
    	vertical-align: text-top;
    }
}
.pointer {
	cursor: pointer;
}
.clearfix{
	clear: both;
}
.bod {
	margin-top: 4px;
}
.email-body{
	display: inline-block;
	float: right;
	table{
		margin: 0px;
		width: 100%;
	}
}
.back-button{
	position: absolute;
	left: 22px;
	background-color: #fff;
	.material-icons{
		font-weight: bolder;
		color: #000;
	}
}
.auto-tags{
	font-size: 10px;
	margin: 0px 2px 0px 2px;
	vertical-align: bottom;
}