@import './../../variable.scss';
.example-icon {
  padding: 0 14px;
}
.commonSpinner {
    width: 50px !important;;
    height: 50px !important;
    top:0px;
    path {
        stroke: black;
    }
    position: absolute;
    right: 40px;
}
.word-break{
        word-wrap: break-word;
}
.background-white{
	background-color: #fff;
	pointer-events: all;
}
.example-spacer {
  flex: 1 1 auto;
}
.send-email {
	position: absolute;
	top: 10px;
	right: 30px;
}
mat-toolbar {
	background-color: cyan;
}
.header {
	margin-bottom: 30px;
}
.m-b {
	margin-bottom: 1rem !important;
}
.cyan {
	background-color: cyan;
	margin-left: 1px;
    margin-right: 5px;
}
.c-his {
	background-color: #71B9F9;
	margin-left: 1px;
    margin-right: 5px;
}
.b-b {
	    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    position: relative;
    background: #f7f7f7;
    padding-left: 5px;
}
.pad5{
    padding-left: 5px;
}
.p-y {
	padding-bottom: 1 rem !important;
	padding-top: 1 rem !important;
	margin-top: 15px;
	margin-bottom: 15px;
	a {
	   cursor: pointer;
	   outlint: 0;
	   text-decoration: none;
	}
}
.text-xs {
	font-size: .75rem;
}
.font-300 {
  margin-bottom: 5px;
  min-height: 42px;
  margin-top: 5px;
	font-weight: bold;
}
.ifset {
	height: 500px;
	width: 100%;
}
.no-pos {
	padding: 0px !important;
}
mat-grid-tile {
	overflow: visible;
}
.mat-grid-tile {
	overflow: auto;
}
.f-r {
    left: 83%;
}
.h-ps {
	margin: 6px;
}
.labels {
      background-color: #6887ff;
      color: rgba(255,255,255,.87);
      padding: .15em .35em;
      font-size: 75%;
      line-height: 1;
      vertical-align: baseline;
      font-weight: 700;
      border-radius: .2rem;
      text-align: center;
      white-space: nowrap;
      display: inline-block;
}
.attach {
	margin-bottom: .5rem!important;
	margin-right: .5rem!important;
	border: 1px solid rgba(120,130,140,.13);
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	position: relative;
	width: 100%;
}
.attach-click{
	background-color: #fff;
    font-weight: bold;
    margin: 2px;
    float: right;
    position: relative;
    top: 0;
    right: 0px;
}
.at-hd {
	padding: .25rem!important;
	border-bottom: 1px solid rgba(120,130,140,.13);
	cursor: pointer;
}
.p-a-xs {
	width: 120px;
	padding: .25rem!important;
}
.at-hed {
	text-align: left;
	margin-bottom: 0px;
}
.default-tag-buttons{
    margin-bottom: 15px;
    text-align: right;
    margin-top: 20px;
    .cyan{
        line-height:20px!important;
        margin: 0px 4px 0px 4px;
        font-weight:bold;
        color:#fff;
        font-size: 12px;
    }
}
.accordian-open {
	width: 90%;
}
.accordian-close {
	width: 80%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
       .maindiv{
        width: 80% !important;
    }
	.default-tag-buttons {
		span {
			width: 100%;
			display: block;
			margin: 4px 0px;
			a {
				width: 100%;
			}
		}
		.cyan {
			line-height: 12px!important;
		}
	}
	.attachment-container, .email-body {
		width: 100%!important;
		.attach {
			width: auto;
		}
	}
	.back-button {
		left: 13px !important;
		top: 10px;
	}
	.accordian-close {
		width: 80%;
		word-break: break-all;
		font-size: 12px;
	}
	.accordian-icon-box {
		font-size: 10px;
  }
  .p-y-img{
    margin-right: auto !important;
  }
  .topbtn{
    margin-top: 40px;
  }
  #topBtn button{
    position: unset !important;
    top: 0px;
    right: 0px;
    width: 48%;
    margin: 0px 1px 0px 1px !important;
  }
  .default-tag-buttons {
      margin-top: 40px !important;
      text-align: left;
  }
  .mat-select {
    width: 99% !important;
    height: 30px;
  }
  .closeWindow {
	  float: unset !important;
  }
  .font-300{
    padding-top: 12px !important;
  }
  .badge{
    display: none !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .maindiv{
        width: 80% !important;
    }
	.default-tag-buttons {
		span {
			width: 48%;
			display: inline-block;
			margin: 4px 0px;
			padding: 0px 4px;
			a {
				width: 100%;
			}
		}
		.cyan {
			line-height: 12px!important;
		}
	}
	.attachment-container, .email-body {
		width: 100%!important;
		.attach {
			width: 97%;
		}
	}
	.back-button {
		left: 13px !important;
	}
	.accordian-close {
		width: 57%;
		word-break: break-all;
  }
  .mat-select{
    width: 98% !important;
  }
  .topbtn{
    margin-top: 40px;
  }
  .p-y-img{
    margin-right: auto !important;
  }
  #topBtn button{
    position: unset !important;
    top: 0px;
    right: 0px;
    margin: 0px 2px 0px 2px;
    width: 48%;
  }
  .default-tag-buttons {
      margin-top: 40px !important;
      text-align: left;
  }
}
.material-icons{
        font-size: 14px!important;
        line-height:1px;
	    font-family: 'Material Icons';
	    font-weight: normal;
	    font-style: normal;
	    letter-spacing: normal;
	    text-transform: none;
	    display: inline-block;
	    white-space: nowrap;
	    word-wrap: normal;
	    direction: ltr;
	    -webkit-font-feature-settings: 'liga';
	    -webkit-font-smoothing: antialiased;
    }
.email-attachment{
	height: 750px;
	width: 100%;
}
.accordian-icon-box {
	position: absolute;
	cursor: pointer;
	right: 0;
    top: 0;
    .material-icons {
    	line-height: 16px;
    	vertical-align: text-top;
    }
}
.pointer {
	cursor: pointer;
}
.clearfix{
	clear: both;
}
.bod {
	margin-top: 4px;
}
.email-body{
	display: inline-block;
	float: right;
	table{
		margin: 0px;
		width: 100%;
	}
}
.back-button{
	position: absolute;
	left: 22px;
	top: 10px;
	background-color: #fff;
	.material-icons{
		font-weight: bolder;
		color: #000;
	}
}
.auto-tags{
	font-size: 10px;
	margin: 0px 2px 0px 2px;
	vertical-align: bottom;
}
.maindiv{
    width:15%;
    padding-top:0px !important;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border:1px solid transparent !important;
    border-radius: 4px !important;
    background-color: rgb(254,240,69) !important;
    min-height:160px !important;
    box-shadow: 2px 2px 4px 1px #fff !important;
    margin-bottom:15px !important;

}
.fontstyle{
        margin-top: 8px;
        font-weight: normal;
        font-size: 14px
    }
.footer{
    background-color: rgb(221,186,6);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom:6px;
}
.datestyle{
   color: white;
   padding-top: 5px;
   padding-bottom: 3px;
   margin-bottom: -5px;
   font-size: 14px;
   text-align: right;
   text-shadow: 1px 1px 2px #000000 ;
   padding-right:4px;
}
.childdiv{
    min-height:100px;
    word-break: break-all;
}
.childdiv:hover{
    cursor:pointer;
}
.avatar-image img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 10px;
    position: absolute;
}
.avatar-image{
  height: 30px;
}
a.link:hover{
    cursor: pointer;
}
.blue{
  background: #29487d;
}
.right{
  float: right;
}
.report{
  line-height: 12px !important;
  margin: 0px 4px 0px 4px !important;
  font-weight: bold !important;
  color: #fff !important;
  font-size: 12px !important;
  background: darkseagreen !important;
}
.bodyHeader div{
    overflow: hidden !important;
    white-space: nowrap !important;
    max-width: 50% !important;
    text-overflow: ellipsis !important;
    font-weight: normal !important;
    font-size: 14px !important;
    margin: 0px;
}
.bodyHeader{
  overflow: hidden !important;
    white-space: nowrap !important;
    max-width: 50% !important;
    text-overflow: ellipsis !important;
    font-weight: normal !important;
    font-size: 14px !important;
    margin: 0px;
    height: 20px;
}
.bodyHeader p{
  margin: 0px;
}
.p-y-img{
    margin-left: 60px;
    position: absolute;
    margin-right: 130px;
}
@media (max-width:500px){
  .hidexs{
    display: none;
  }
}
.switch__job__profile {
	position: absolute;
	top: 40px;
	right: 30px;
}
.closeWindow {
	// display: inline-block;
	width: 213px;
	float: right;
}
.badge {
	background: #2bbbad;
	display: inline-block;
    min-width: 10px;
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
.call {
    cursor: pointer;
}
.call .phone {
    font-size: 23px !important;
    vertical-align: middle;
    color: grey;
}
.call .default {
    color:grey;
}
.missed {
    color: #ac2925 !important;
}
.success {
    color: #398439 !important;
}
.error {
    color:#d58512 !important;
}
.again {
    color:#269abc !important;
}
@media screen and (min-width: 768px){
    .mat-select{
        width: 100px !important;
    }
}
