<div>
    <h3>Edit Tag</h3>
</div>
<hr>
<div class="body">
    <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="originaltitle">
    </mat-form-field>
    <h5>Select color</h5>
    <div class="selected-color" [ngStyle]="{'background-color': originalcolor}"></div>
    <div class="color-box">
        <div class="selected-color" *ngFor="let color of availableColors" (click)="originalcolor = color" [ngStyle]="{'background-color': color}"></div>
    </div>
</div>
<div class="footer">
    <a mat-raised-button (click)="close()">Close</a>
    <a mat-raised-button color=primary (click)="save()">Save</a>
</div>