<div class="main">
  <h3 class="heading">Change Job Tag</h3>
  <form autocomplete="off" #changeTag="ngForm" (ngSubmit)="changeJobProfile(changeTag.value)">
    <div class="form">
      <div class="candidate" *ngIf=tagIdTitle.length>
        The Candidate is in
        <ul>
          <li class="candidate-tag" *ngFor="let tagTitle of tagIdTitle">{{tagTitle}}</li>
        </ul>
      </div>
      <div class="candidate" *ngIf=!tagIdTitle.length>
        The Candidate is not assigned yet.
      </div>
      <div class="moveTo">
        <mat-select [placeholder]="placeholder" #selectNewTag="ngModel" name="selectNewTag" ngModel required>
          <mat-option *ngFor="let tags of jobProfile" [value]="tags.title">
            {{ tags.title }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="submit">
      <button mat-raised-button (click)="close()">Close</button>
      <button id="change" mat-raised-button type="submit" color=primary [disabled]="selectNewTag.invalid">
        <span>Change Tag</span>
      </button>
    </div>
  </form>
</div>
