<h3 class="heading">Edit Tag</h3>
<hr>
<div class="container-fluid edit-tag">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Title" disabled [(ngModel)]="originaltitle">
      </md-input-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Email" disabled [value]="tag.email">
      </md-input-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Subject" disabled [value]="tag.subject">
      </md-input-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="From date" disabled [value]="tag.from | date">
      </md-input-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="To date" disabled [value]="tag.to | date">
      </md-input-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <md-select class="width-100" placeholder="Select Template" [(ngModel)]="temp_id" name="template_id" ngModel style="width: 100%">
        <md-option>
          None
        </md-option>
        <md-option *ngFor="let temp of tempList" [value]="temp.id">
          {{temp.templateName}}
        </md-option>
      </md-select>
    </div>
    <div class="col-md-12 col-sm-12" *ngIf="tag.job_description">
      <md-input-container class="width-100">
        <textarea mdInput rows="4" placeholder="Job Description" [value]="tag.job_description" [(ngModel)]="tag.job_description"></textarea>
      </md-input-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <md-slide-toggle [checked]="tag.is_email_send" name="is_email_send" style="width: 100%" [(ngModel)]="tag.is_email_send">Send Automatic Template</md-slide-toggle>
      <md-slide-toggle [disabled]="true" [checked]="tag.assign_to_all_emails" [ngClass]="{'toggle-green':tag.assign_to_all_emails}"
        name="assign" style="width: 100%">Assign to all existing mails</md-slide-toggle>
    </div>
    <div class="col-md-12 col-sm-12">
      <h4> Tag Color </h4>
      <div class="selected-color" [ngStyle]="{'background-color': originalcolor}"></div>
      <div class="color-box">
        <div class="selected-color" *ngFor="let color of availableColors" (click)="originalcolor = color" [ngStyle]="{'background-color': color}"></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <button md-raised-button (click)="close()">Close</button>
      <button md-raised-button color=primary (click)="save()">Save</button>
    </div>
  </div>
</div>