<div class="header">
    <p class="h-text">Create Template</p>
</div>
<form autoComplete="off" #Temp="ngForm" (ngSubmit)="update(Temp)">
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="row">
        <div class="main col-sm-8">
            <p>
                <md-input-container class="width-100">
                    <input mdInput placeholder="Template Name" [(ngModel)]="tempName" autoComplete="off" name="templateName" required ngModel>
                    <md-error>Required</md-error>
                </md-input-container>
                <md-input-container class="width-25">
                    <input mdInput placeholder="Subject" [disabled]="true" autoComplete="off" name="fixedsubject" required [(ngModel)]="subject_for_genuine">
                    <md-error>Required</md-error>
                </md-input-container>
                <md-input-container class="width-75">
                    <input mdInput placeholder="" [(ngModel)]="subject" autoComplete="off" name="subject" required ngModel>
                    <md-error>Required</md-error>
                </md-input-container>
                <ckeditor name="body"
                    [(ngModel)]="ckeditorContent"
                    [config]="{uiColor: '#00ffff'}"
                    debounce="500" ngModel *ngIf="production">
                </ckeditor>
                <md-input-container class="width-100" *ngIf="!production">
                    <textarea mdInput rows="4" id="tempBody" name="body" type="textarea" placeholder="Template Body"[(ngModel)]="ckeditorContent" required></textarea>
                  </md-input-container>
            </p>
        </div>
        <div class="side">
            <div class="col-sm-4">
            <md-card class="side-nav">
                <button md-button class="h-d">System Variables</button>
                <md-card-content class="d-c">
                    <a md-button class="con-btn" *ngFor="let svar of sysVar">{{svar.variableCode}}</a>
                </md-card-content>
            </md-card>
            <br/>
            <md-card class="side-nav">
                <button md-button class="h-d">User Variables</button>
                <md-card-content class="d-c">
                    <a md-button class="con-btn" *ngFor="let uvar of userVar">{{uvar.variableCode}}</a>
                </md-card-content>
            </md-card>
        </div>
      </div>
    </div>
  </div>
    <hr>
    <div class="fx-pos">
    	<button id="back" md-raised-button type="button" (click)="close()">Back</button>
    	<button id="update" md-raised-button type="submit" color="accent">Update</button>
    </div>
</form>
