<div class="header">
    <p class="h-text">Create Template</p>
</div>
<form autoComplete="off" #addTemp="ngForm" (ngSubmit)="save(addTemp)">
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="main" fxFlex="75%">
            <p>
                <md-input-container class="width-100">
                    <input mdInput placeholder="Template Name" [(ngModel)]="tempName" autoComplete="off" name="templateName" required ngModel>
                    <md-error>required</md-error>
                </md-input-container>
                <md-input-container class="width-100">
                    <input mdInput placeholder="Subject" [(ngModel)]="subject" autoComplete="off" name="subject" required ngModel>
                    <md-error>required</md-error>
                </md-input-container>
                <ckeditor name="body" 
                    [(ngModel)]="ckeditorContent"
                    [config]="{uiColor: '#00ffff'}"
                    debounce="500" ngModel>
                </ckeditor>
            </p>
        </div>
        <div fxFlex="25%">
            <md-card class="side-nav">
                <button md-button class="h-d">System Variables</button>
                <md-card-content class="d-c">
                    <a md-button class="con-btn" *ngFor="let svar of sysVar">{{svar.variableCode}}</a>
                </md-card-content>
            </md-card>
            <br/>
            <md-card class="side-nav">
                <button md-button class="h-d">User Variables</button>
                <md-card-content class="d-c"> 
                    <a md-button class="con-btn" *ngFor="let uvar of userVar">{{uvar.variableCode}}</a>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <hr>
    <div class="fx-pos">
    	<button md-raised-button (click)="close()">Back</button>
    	<button md-raised-button type="submit" color="accent">Update</button>
    </div>
</form>
