<div class="main">
  <app-imap-component-form></app-imap-component-form>
    <div>
        <md-card>
            <md-card-subtitle class="cardsub">
                IMAP/POP3 Settings
            </md-card-subtitle>
            <md-card-content>
                <table class="list">
                    <thead>
                        <tr>
                            <th>Email ID</th>
                            <th>Server</th>
                            <th>Port</th>
                            <th>Encryption</th>
                            <th>Status</th>
                            <th>Active</th>
                            <th>Test</th>
                            <th>Remove</th>
                            <th>Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let setting of imapsettingjson">
                            <td>{{setting.email}}</td>
                            <td>{{setting.Server}}</td>
                            <td>{{setting.Port}}</td>
                            <td>{{setting.Encryption}}</td>
                            <td>
                                <md-icon class="{{setting.Active ? 'on':'off'}}">{{setting.Status ? 'done' : 'clear'}}</md-icon>
                            </td>
                            <td>
                                <md-icon class="{{setting.Active ? 'on':'off'}}">power_settings_new</md-icon>
                            </td>
                            <td>
                                <button md-button class="chartcolor" (click)="test(setting._id)">TEST</button>
                            </td>
                            <td>
                                <button md-button class="chartcolor" (click)="remove(setting._id)">REMOVE</button>
                            </td>
                            <td>
                                <md-icon class="chartcolor">insert_chart</md-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
        </md-card>
    </div>
</div>