<div class="main">
  <app-imap-component-form (addedImap)="getImapList()"></app-imap-component-form>
    <div>
        <md-card>
            <md-card-subtitle class="cardsub">
                IMAP/POP3 Settings
            </md-card-subtitle>
            <md-card-content>
                <table class="list">
                    <thead>
                        <tr>
                            <th>Email ID</th>
                            <th>Server</th>
                            <th>Port</th>
                            <th>Encryption</th>
                            <th>Active</th>
                            <th>Test</th>
                            <th>Remove</th>
                            <th>Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let setting of imapSettingJson">
                            <td>{{setting.email}}</td>
                            <td>{{setting.imap_server}}</td>
                            <td>{{setting.server_port}}</td>
                            <td>{{setting.type}}</td>
                            <td>
                                <md-icon class="{{setting.active == 'TRUE' ? 'on':'off'}}">power_settings_new</md-icon>
                            </td>
                            <td>
                                <button md-button class="chartcolor" (click)="test(setting.id)">TEST</button>
                            </td>
                            <td>
                                <button md-button class="chartcolor" (click)="remove(setting.id)">REMOVE</button>
                            </td>
                            <td>
                                <md-icon class="chartcolor">insert_chart</md-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
        </md-card>
    </div>
</div>