@import './../../variable.scss';
.header {
    border-bottom: 1px solid black;
}
.h-text {
	font-size: 20px;
    opacity: 0.8;
}
.width-100 {
	width: 100%;
	div {
		margin: 0px;
	}
}
.width-75 {
	width: 73%;
}
.width-25 {
	width: 25%;
}
.main {
	// padding: 10px;
}
.sidenav {
	padding: 5px;
}
.d-c {
	background: $lightblue;
}
.h-d {
	padding: 9px;
    background: $cyan;
    width: 100%;
}
mat-card {
	padding: 1px !important;
}
.con-btn {
	text-align: left;
    padding: 6px;
    width: 100%;
}
.fx-pos {
	float: right;
}
// .con-pg {
// 	max-height: 422px !important;
//     overflow-y: auto;
// }
.error-show {
	color: red;
    text-align: center;
}

.disabled{
  pointer-events: none !important;
  background: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
  box-shadow: none;
}
