<div class="header">
    <p class="h-text">Add Candidate</p>
</div>
<form autoComplete="off" #addCandidateForm="ngForm">
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="main">
            <p>
                <md-card class="width-100" style="box-shadow: none;" *ngIf="emailParentId">
                    <md-card-header>
                        <md-card-subtitle>Tag*</md-card-subtitle>
                        <md-card-subtitle>{{emailParenttitle}} -
                            <b>{{emailChildTitle}}</b>
                        </md-card-subtitle>
                    </md-card-header>
                </md-card>
                <md-input-container class="width-100">
                    <input mdInput placeholder="Subject" autoComplete="off" name="subject" required ngModel>
                    <md-error>Required</md-error>
                </md-input-container>
                <md-input-container class="width-100">
                    <input mdInput placeholder="Sender Mail" autoComplete="off" name="sender_mail" pattern="^[a-z0-9](\.?[a-z0-9_-]){0,}@[a-z0-9-]+\.([a-z]{1,6}\.)?[a-z]{2,6}$" required ngModel>
                    <md-error>Invalid Email</md-error>
                </md-input-container>
                <md-input-container class="width-100">
                    <input mdInput placeholder="Source" autoComplete="off" name="source" required ngModel>
                    <md-error>Required</md-error>
                </md-input-container>
                <md-input-container class="width-25">
                    <input mdInput type="text" maxlength="10" pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" placeholder="Mobile Number" autoComplete="off" name="mobile_no" ngModel>
                    <md-error>Invalid Mobile Number</md-error>
                </md-input-container>
                <md-input-container class="width-100">
                    <textarea mdInput rows="4" name="body" type="textarea" placeholder="Email Body" ngModel required></textarea>
                    <md-error>Body Is Required</md-error>
                </md-input-container>
            </p>
        </div>
    </div>
    <div class="fx-pos">
        <button md-raised-button (click)="close()">Back</button>
        <button md-raised-button color="accent" [disabled]="addCandidateForm.invalid" (click)="save(addCandidateForm)">Add</button>
    </div>
</form>