<div class="header">
    <p class="h-text">Add Candidate</p>
</div>
<form autoComplete="off" #addCandidateForm="ngForm">
    <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="main">
            <p>
                <mat-card class="width-100" style="box-shadow: none;" *ngIf="emailParentId">
                    <mat-card-header>
                        <mat-card-subtitle>Tag*</mat-card-subtitle>
                        <mat-card-subtitle>{{emailParenttitle}} -
                            <b>{{emailChildTitle}}</b>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-form-field class="width-100">
                    <input matInput placeholder="Subject" autoComplete="off" name="subject" required ngModel>
                    <mat-error>Required</mat-error>
                </mat-form-field>
                <mat-form-field class="width-100">
                    <input matInput placeholder="Candidate Mail" autoComplete="off" name="sender_mail" pattern="^[a-z0-9](\.?[a-z0-9_-]){0,}@[a-z0-9-]+\.([a-z]{1,6}\.)?[a-z]{2,6}$" required ngModel>
                    <mat-error>Invalid Email</mat-error>
                </mat-form-field>
                <mat-form-field class="width-100">
                    <input matInput placeholder="Candidate Name" autoComplete="off" name="from" required ngModel>
                    <mat-error>Required</mat-error>
                </mat-form-field>
                <mat-form-field class="width-100">
                    <input matInput placeholder="Source" autoComplete="off" name="source" required ngModel>
                    <mat-error>Required</mat-error>
                </mat-form-field>
                <mat-form-field class="width-25">
                    <input matInput type="text" maxlength="10" pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" placeholder="Mobile Number" autoComplete="off" required name="mobile_no" ngModel>
                    <mat-error>Invalid Mobile Number</mat-error>
                </mat-form-field>
                <!-- <mat-form-field class="width-100">
                    <textarea matInput rows="4" name="body" type="textarea" placeholder="Email Body" ngModel required></textarea>
                    <mat-error>Body Is Required</mat-error>
                </mat-form-field> -->
            </p>
        </div>
    </div>
    <div class="fx-pos">
        <button mat-raised-button (click)="close()">Back</button>
        <button mat-raised-button color="accent" [disabled]="addCandidateForm.invalid" [ngClass]="diabledOnclick ?'disabled':''"  (click)="save(addCandidateForm)">Add</button>
    </div>
</form>
