.full {
	width: 100%;
}
.label {
	padding: .25em .5em;
    font-size: 75%;
    line-height: 1;
    vertical-align: baseline;
    font-weight: 700;
    background-color: #5bc0de;
    color: #fff;
    border-radius: .2rem;
    text-align: center;
    display: inline-block;
}
.m-f {
	margin: 15px 0px;
}
.fx-pos {
	position: absolute;
    top: 91%;
    left: 75%;
}
.m-p {
	max-height: 385px !important;
    overflow: auto;
}