<div>
  <h4 class="heading">You are are about to start your test. Since all tests are confidential, its mandatory that you do it after approval of our
  HR.
  <br> confirm the sames, please ask HR for OTP password</h4>
  <hr>
    <form (ngSubmit)="submitOtp()">
        <mat-card-subtitle id="loginError" class="error" *ngIf="error">{{errorMsg}}</mat-card-subtitle>
        <mat-form-field class="col-sm-12 col-md-12">
          <input type="tel " maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <=57' name="otp" matInput placeholder="Enter OTP" [(ngModel)]="otp" autoComplete="off" required>
        </mat-form-field>
        <button mat-raised-button color=primary class="right" type="submit" >Submit</button>
    </form>
  <!-- <p>You are are about to start your test. Since all tests are confidential, its mandatory that you do it after approval of our
  HR. <br> confirm the sames, please ask HR for OTP password</p> -->
</div>
