.heading{
  text-align: center;
  font-size: 15px;
  color: darkslategrey;
  margin-top: 3px;
  margin-bottom: 3px;
}
p{
  text-align: center;
  font-size: 13px;
  color: gray;
  margin: 0px;
}
.right{
  float: right;
}
.error{
  color: #ff0000;
  text-align: center;
}
hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
