<md-card *ngIf="hide">

  <md-list class="pad0">
    <md-list-item class="pad0">
      <div class="col-md-4 col-sm-12 marAuto bodyInner">
        <md-card-title>
          <h4>Select Job profile</h4>
          <hr>
        </md-card-title>
        <md-radio-group class="width100">
          <md-radio-button *ngFor="let option of job_pro" name="{{option.title}}" value="{{option.id}}" class="width100 padd5" (click)="selected(option.id)">{{option.title}}</md-radio-button>
        </md-radio-group>
        <button md-raised-button color=primary class="right" (click)="getQues()">Submit</button>
      </div>
    </md-list-item>
  </md-list>
</md-card>
<md-card *ngIf="!hide">
    <md-card-title>
      <h4>Test Questions</h4>
    </md-card-title>
    <md-list class="pad0">
      <md-list-item class="pad0" *ngFor="let ques of questions;let id = index">
        <div class="col-md-12 col-sm-12 marAuto bodyInner">
          <h3>{{id+1}}. &nbsp;{{ques.question}}</h3>
          <p class="pid">Options:</p>
          <md-radio-group class="width100 fontsize">
            <md-radio-button *ngFor="let option of ques.options" name="{{option.option}}" value="{{option.opt_id}}" class="width100 padd5" (click)="selectans(option)">{{option.option}}</md-radio-button>
          </md-radio-group>
          <button md-raised-button color=primary class="right" (click)="submit()">Submit</button>
        </div>
      </md-list-item>
    </md-list>
</md-card>
