<div class="header">
    <p class="h-text">Create Variable</p>
</div>
<form autoComplete="off" #add="ngForm" (ngSubmit)="save(add)">
    <p *ngIf="showMessage" class="error-show">{{message}}</p>
    <div class="con-pg">
        <div class="main">
            <p>
                <mat-form-field class="width-100">
                    <input matInput placeholder="Enter Variable" autoComplete="off" name="variableCode" required ngModel>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </p>
               <mat-radio-group class="pos-radio" name="type" [(ngModel)]="types" ngModel>
                    <mat-radio-button [value]="0" (click)="types = 0">Add header/footer</mat-radio-button>
                    <mat-radio-button [value]="1" (click)="types = 1">Other than header/footer</mat-radio-button>
                </mat-radio-group>
                <div class="editor" *ngIf="types">
                <ckeditor name="variableValue" 
                    [config]="{uiColor: '#00ffff'}"
                    debounce="500" ngModel>
                </ckeditor>
                </div>
                <div class="text-area" *ngIf="!types">
                	<mat-form-field class="width-100">
                        <textarea matInput name="variableValue" mdTextareaAutosize  mdAutosizeMinRows="5" placeholder=" Write html code for header/footer" ngModel></textarea>
                    </mat-form-field>
                </div>
        </div>
    </div>
    <div class="text-right">
    	<button mat-raised-button (click)="close()">BACK</button>
    	<button mat-raised-button type="submit" color="accent">SUBMIT</button>
    </div>
</form>
