@import './../../variable.scss';
.header {
	position: relative;
    top: -24px;
    border-bottom: 1px solid black;
}
.h-text {
	font-size: 20px;
    opacity: 0.8;
}
.width-100 {
	width: 100%;
}
.main {
	padding: 10px;
}
.sidenav {
	padding: 5px;
}
.d-c {
	background: $lightblue;
}
.h-d {
	padding: 9px;
    background: $cyan;
    width: 100%;
}
md-card {
	padding: 1px !important;
}
.con-btn {
	text-align: left;
    padding: 6px;
    width: 100%;
}
.fx-pos {
	position: absolute;
    top: 91%;
    left: 75%;
}
.con-pg {
	max-height: 422px !important;
    overflow-y: auto;
}
.editor {
	margin-top: 15px;
}
.error-show {
	color: red;
    text-align: center;
}
