@import './../../variable.scss';
.header {
	position: relative;
	border-bottom: 1px solid black;
	font-weight: bold;
}
.h-text {
	font-size: 20px;
    opacity: 0.8;
}
.width-100 {
	width: 100%;
}
.width-75 {
	width: 70%;
}
.main {
	padding: 10px;
}
.sidenav {
	padding: 5px;
}
.d-c {
	background: $lightblue;
}
.h-d {
	padding: 9px;
    background: $cyan;
    width: 100%;
}
mat-card {
	padding: 1px !important;
}
.con-btn {
	text-align: left;
    padding: 6px;
    width: 100%;
}
.fx-pos {
	float: right;
	margin-top: 8px;
}
.error-show {
	color: red;
    text-align: center;
}
.mat-form-field {
	margin: 4px 0px
}