<div class="header">
    <p class="h-text">Create Template</p>
</div>
<form id="addEmailTemplateForm" autoComplete="off" #addTemp="ngForm" (ngSubmit)="save(addTemp)">
    <p *ngIf="showMessage" class="error-show">{{message}}</p>
    <div class="con-pg">
      <div class="row">
        <div class="main col-sm-8">
            <p>
                <md-input-container class="width-100">
                    <input id="templateName" mdInput placeholder="Template Name" autoComplete="off" name="templateName" required ngModel>
                    <md-error>Required</md-error>
                </md-input-container>
                <md-input-container class="width-25">
                    <input mdInput placeholder="Subject" [disabled]="true" autoComplete="off" name="fixedsubject" required [(ngModel)]="subject_for_genuine">
                    <md-error>Required</md-error>
                </md-input-container>
                <md-input-container class="width-75">
                    <input id="subject" mdInput placeholder="" autoComplete="off" name="subject" required ngModel>
                    <md-error>Required</md-error>
                </md-input-container>
                <ckeditor name="body"
                   [config]="{uiColor: '#00ffff '}"
                   debounce="500" ngModel required *ngIf="production">
               </ckeditor>
                   <md-input-container class="width-100" *ngIf="!production">
                     <textarea mdInput rows="4" id="tempBody" name="body" type="textarea" placeholder="Template Body" ngModel required></textarea>
                     <md-error>Body Is Required</md-error>
                   </md-input-container>
            </p>
        </div>
        <div class="side">
          <div class="col-sm-4">
            <md-card class="side-nav">
                <button md-button class="h-d">System Variables</button>
                <md-card-content id="systemVariableContent" class="d-c">
                    <button md-button class="con-btn" *ngFor="let svar of sysVar; trackBy: sysVarTrack">{{svar.variableCode}}</button>
                </md-card-content>
            </md-card>
            <br/>
            <md-card class="side-nav">
                <button md-button class="h-d">User Variables</button>
                <md-card-content id="userVariableContent" class="d-c">
                    <button md-button class="con-btn" *ngFor="let uvar of userVar; trackBy: userVarTrack">{{uvar.variableCode}}</button>
                </md-card-content>
            </md-card>
        </div>
      </div>
    </div>
  </div>
    <div class="fx-pos">
    	<button md-raised-button id="back" (click)="close()">Back</button>
    	<button md-raised-button id="save" (click)="save(addTemp)" [disabled]="addTemp.invalid" color="accent">Save</button>
    </div>
</form>
