<div class="outerbody">
  <div class="logo">
    <img class="img-responsive" src="assets/logo.png">
  </div>
  <div class="login-card">
    <md-card>
      <form id="loginForm" autoComplete="off" [formGroup]="addForm" (ngSubmit)="login()">
        <md-card-title>
          <h4>Sign In</h4>
        </md-card-title>
        <md-card-subtitle id="loginError" class="error" *ngIf="showmessage">{{message}}</md-card-subtitle>
        <md-card-content>
          <table class="width-100">
            <tr>
              <td>
                <md-input-container class="width-100">
                  <input id="loginEmail" mdInput type="email" formControlName="email" placeholder="Email" autoComplete="off">
                  <md-error>Enter Valid Email</md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="width-100">
                  <input id="loginPassword" mdInput type="password" formControlName="password" placeholder="Password" autoComplete="off">
                  <md-error>Enter Valid Password</md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-checkbox id="loginCheckbox" formControlName="keeplogin">Keep me signed in</md-checkbox>
              </td>
            </tr>
          </table>
        </md-card-content>
        <md-card-actions>
          <button id="login" *ngIf="!loading" type="submit" md-raised-button color=primary class="width-100" [disabled]="!addForm.valid">Sign In</button>
          <md-spinner id="loginSpinner" *ngIf="loading" class="spin"></md-spinner>
        </md-card-actions>
      </form>
      <md-card-actions class="fbLogin">
        <button id="fb_login" md-raised-button class="width-100" (click)="fblogin()">
          <img class="facebook" width="24px" src="assets/fb_icon.png"/> Sign In with Facebook
        </button>
      </md-card-actions>
      <button id="fb_login" md-raised-button class="width-100" (click)="fblogout()">
        logout</button>
    </md-card>
    <br>
    <div>
      <a routerLink="/forgot" class="forpas">Forgot Password?</a>
    </div>
  </div>
</div>
