@import './../../variable.scss';
.login-card {
    padding: 10px;
    max-width: 316px;
    margin: 0 auto;
}
.width-100 {
    width: 100%;
}
md-card-actions {
    margin-left: 0px;
    margin-right: 0px;
}
.outerbody {
    background-color: $outercolor;
    width: 100%;
    position: absolute;
    height: 100%;
    padding-top: 10%;
}
.logo { 
    img {
        margin: 0 auto;
    }
}
.forpas {
    margin-left: 28%;
    font-size: 15px;
    text-decoration: none;
    color: $linkcolor;
}
.hav-acc {
    color: $white;
    margin-left: 15%;
    font-size: 15px;
}
.signup {
    text-decoration: none;
    color: $linkcolor;
}
.spin {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
.error {
    color: $red;
    text-align: center;
}