@import './../../variable.scss';
:host {
    display: flex;
    flex: 1;
}
md-sidenav {
    width: 280px;
}
md-list {
    md-list-item:hover {
        background-color: $hovecolor;
    }
}
.navlist {
    //margin-left: 15px;
    padding: 8px 0px;
    position: relative;
    cursor: pointer;
}
.navlist a {
    font-size: 12px;
    font-weight: bold;
}
.subnavlist {
    margin-left: 10px;
    padding: 4px 0px;
    cursor: pointer;
}
.subnavlist a {
    font-size: 12px;
}
md-list-item {
    a:hover {
        text-decoration: none;
    }
}
.content {
    padding: 12px;
    background-color: $contentcolor;
    min-height: 96%;
    overflow: auto;
}
