<div class="container-fluid">
    <div class="row">
        <button mat-icon-button class="setting-menu" (click)="menuShow = !menuShow"> <mat-icon>menu</mat-icon> </button>
        <div class="col-md-2 col-sm-2 sidenav no-pad" [ngClass]="{'showMenu': menuShow}">
            <mat-list>
                <mat-list-item class="navlist" *ngIf="role == 'Admin'" (click)="goto('imap','IMAP Server Setting')">
                    <a mat-line> IMAP Server Setting </a>
                </mat-list-item>
                <mat-list-item class="navlist" *ngIf="role == 'Admin'" (click)="goto('smtp','SMTP Server Setting')">
                    <a mat-line> SMTP Server Setting </a>
                </mat-list-item>
                <mat-list-item class="navlist" *ngIf="role == 'Admin'" (click)="goto('slackinfo','Slack info')">
                    <a mat-line> Slack Info </a>
                </mat-list-item>

                <mat-list-item class="navlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="listopen=!listopen">
                    <a mat-line>  Template Setting </a>
                    <mat-icon>{{listopen? 'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
                </mat-list-item>
                <mat-list *ngIf="listopen">
                    <mat-list-item class="subnavlist" (click)="goto('emailtemplate','Email Templates')">
                        <a>Email Templates</a>
                    </mat-list-item>
                    <mat-list-item class="subnavlist" (click)="goto('emailvariable','Email Variables')">
                        <a>Email Variables</a>
                    </mat-list-item>
                </mat-list>
                <mat-list-item class="navlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="goto('tagsetting','Tag Setting')">
                    <a mat-line> Tag Setting </a>
                </mat-list-item>
                <!-- <mat-list-item class="navlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="goto('automaticTags','Automatic Tags')">
                    <a mat-line> Automatic Tags </a>
                </mat-list-item> -->
                <mat-list-item class="navlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="goto('jobProfileTags','Job Profile Tag')">
                    <a mat-line> Job Profile </a>
                </mat-list-item>
                <mat-list-item class="navlist" *ngIf="role == 'Admin'" (click)="goto('usersList','Users List')">
                    <a mat-line> Users List </a>
                </mat-list-item>
                <mat-list-item class="navlist" *ngIf="role == 'Admin'" (click)="goto('useractivity','Users Log')">
                    <a mat-line> Users Log </a>
                </mat-list-item>
                <mat-list-item class="navlist" *ngIf="role == 'Admin'" (click)="goto('emailLogs','Email Logs')">
                    <a mat-line> Email Logs </a>
                </mat-list-item>
                <mat-list-item class="navlist" (click)="goto('resetPassword','Reset Password')">
                    <a mat-line> Reset Password </a>
                </mat-list-item>
                <mat-list-item class="navlist" *ngIf="role == 'Admin'" (click)="goto('spam','Spam')">
                    <a mat-line> Spam </a>
                </mat-list-item>
                <mat-list-item class="navlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="testingSysopen=!testingSysopen">
                  <a mat-line> Interview Test System </a>
                  <mat-icon>{{testingSysopen? 'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
                </mat-list-item>
                <mat-list *ngIf="testingSysopen">
                  <mat-list-item class="subnavlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="goto('candidateScore','Candidate Score')">
                    <a mat-line> Candidate Score </a>
                  </mat-list-item>
                  <mat-list-item class="subnavlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="goto('pendingCandidate','PendingCandidate')">
                    <a mat-line> Pending Candidate </a>
                  </mat-list-item>
                  <mat-list-item class="subnavlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="goto('createQuestion','CreateQuestion')">
                    <a mat-line> Create Question </a>
                  </mat-list-item>
                  <mat-list-item class="subnavlist" *ngIf="role == 'Admin' || role == 'HR'" (click)="goto('testSet','TestSet')">
                    <a mat-line> Test Sets </a>
                  </mat-list-item>

                </mat-list>

            </mat-list>
        </div>
        <div class="col-md-10 col-sm-10 content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
