@import './../../variable.scss';
.sidenav {
    background-color: #fff;
    mat-list {
        mat-list-item:hover {
            background-color: $hovecolor;
        }
    }
}
.navlist {
    position: relative;
    cursor: pointer;
    padding: 8px 0;
    height: auto!important;
    a {
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }
}
.subnavlist {
    margin-left: 10px;
    padding: 4px 0px;
    cursor: pointer;
    height: auto !important;
}
.subnavlist a {
    color: #000;
    font-size: 12px;
}
mat-list-item {
    a:hover {
        text-decoration: none;
    }
}
.content {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $contentcolor;
    min-height: 96%;
    // overflow: auto;
}
.setting-menu{
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .sidenav {
        display: none;
    }
    .setting-menu{
        display: block;
        color: #fff;
    }
    .showMenu {
        display: block;
    }
}