.form-container {
    width: 90%;
    margin: auto;
    margin-top: 7%;
}
.heading{
    text-align: center;
    font-size: 15px;
    color: darkslategrey;
    margin-top: 3px;
    margin-bottom: 3px;
}
p{
    text-align: center;
    font-size: 13px;
    color: gray;
    margin: 0px;
}
.error{
    color: #ff0000;
    text-align: center;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.width {
    width: 90%;
}
.form {
    width: 100%;
    text-align: center;
}
.spin {
    width: 50px;
    margin: 0 auto;
}
.logo img {
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0 auto;
}