.width {
    padding: 5%;
    width: 350px;
}
.width-history{
    padding-left: 5%;
    padding-right: 5%;
    width: 350px;
}
.tab {
    display: inline-block;
}
.right {
 float: right;
}
.bottom {
    margin-bottom: 5%;
}
button {
    width: 100%;
}
tbody td{
  text-transform:capitalize;
}
