<div class="width">
    <div class="tab">
      <button class="mat-raised-button btn-danger bottom" (click)="changeStatus('missed')">Didn't Pickup</button><br/>
      <button class="mat-raised-button btn-warning" (click)="changeStatus('error')">Call Not Connected</button>
    </div>
    <div class="tab right">
      <button class="mat-raised-button btn-success bottom" (click)="changeStatus('success')">Talked To Candidate</button><br/>
      <button class="mat-raised-button btn-info" (click)="changeStatus('again')">Call Again Later</button>
    </div>
</div>
<div class="width-history">
  <mat-card-content class="table-responsive" *ngIf="callHistory.length>0">
    <table id="table" class="list table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr *ngFor="let data of callHistory">
          <td>{{data.callTime| date: 'medium'}}</td>
          <td>{{data.historyStatus}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</div>
