<div class="logo">
    <img class="img-responsive" src="assets/logo.png">
</div>
<div class="well container-box">
    <div class="header">
        <p class="h-text">Add Candidate</p>
    </div>
    <hr>
    <form autoComplete="off" #addCandidateForm="ngForm">
        <div class="con-pg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="main">
                <p>
                    <mat-form-field class="width-100">
                        <input matInput placeholder="E Mail" autoComplete="off" name="sender_mail"  disabled [(ngModel)]="walkinData.email">
                    </mat-form-field>
                    <mat-form-field class="width-100">
                        <input matInput placeholder="Full Name" autoComplete="off" name="from" ngModel required>
                        <mat-error>Full Name Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-100">
                      <mat-select class="width-100" id="gender" placeholder="Select Gender" name="gender" required ngModel>
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="width-100">
                        <input matInput placeholder="Source" autoComplete="off" name="source" required ngModel>
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-100">
                        <input matInput type="tel" (keypress)="disableText($event)" maxlength="10" required placeholder="Mobile Number" autoComplete="off" name="mobile_no" ngModel>
                        <mat-error>Invalid Mobile Number</mat-error>
                    </mat-form-field>
                    <label for="resume" class="resume">
                        Resume:
                    </label>
                    <input type="file" id="resume" (change)="uploadFile($event)" />
                    <span *ngIf="errorFileType" class="error">
                        File Type Should be pdf, doc or docx      
                    </span>
                </p>
            </div>
        </div>
        <mat-spinner id="loginSpinner" *ngIf="loading" class="spin commonSpinner1"></mat-spinner>
        <button mat-raised-button class="btn-block" color="primary" *ngIf="!loading" [disabled]="addCandidateForm.invalid" (click)="save(addCandidateForm)">Add</button>
    </form>
</div>
