@import './../../variable.scss';
.header {
	text-align: center;
}
.h-text {
	font-size: 20px;
    opacity: 0.8;
}
.width-100 {
	width: 100%;
}
.sidenav {
	padding: 5px;
}
.d-c {
	background: $lightblue;
}
.h-d {
	padding: 9px;
    background: $cyan;
    width: 100%;
}
mat-card {
	padding: 1px !important;
}
.con-btn {
	text-align: left;
    padding: 6px;
    width: 100%;
}
.error-show {
	color: red;
    text-align: center;
}
.logo img {
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0 auto;
}
.container-box {
	width: 90%;
	margin: auto;
    margin-top: 7%;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.spin {
    width: 50px;
    margin: 0 auto;
}