@import './../../variable.scss';
:host {
    display: flex;
    flex: 0.26;
}
md-sidenav {
    width: 280px;
    overflow: inherit;
}

md-list {
    md-list-item:hover {
        background-color: $hovecolor;
        a:hover {
          text-decoration: none;
        }
    }
}
.active {
  background-color: $hovecolor;  
}
.blue {
    color:$borderleftblue;
}
.inbox-nav{
   // margin-left: 2px;
}
.mainnav {
    margin-left: 6px;
    padding: 4px 0px;
    position: relative;
    cursor: pointer;
}
.main-title{
    font-weight: bold;
}
.mainnav a {
    font-size: 12px;
    //font-weight: bold;
    text-transform: capitalize;
}
.nav-arrow{
    vertical-align: middle;
    float: right;
    position: absolute;
    right: 0;
}
.subenav {
    margin-left: 6px;
    padding: 4px 0px;
    cursor: pointer;
}
.subenav p {
    margin: 0px;
    position: relative;
}
.subenav a {
    font-size: 12px;
}
.logodesign {
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    left: 4px;
    -webkit-user-select: none;
    margin-left: 4px;
    margin-right: 3px;
}
.heightwidth27 {
    min-height: 27px;
    min-width: 27px;
}
.logo {
    @extend .logodesign;
    @extend .heightwidth27;  
}
.assign {
    color: $jobassigncolor;
}
.candcolor {
    color: $drafcolor
}
.posload {
    left: 44%;
    position: relative;
}
