<md-sidenav mode="side" opened fxFlex="20">
    <md-list>
        <md-list-item class="mainnav" (click)="firstlist=!firstlist">
            <md-icon md-list-icon>inbox</md-icon>
            <a md-line> Inbox </a>
            <md-icon>{{firstlist? 'keyboard_arrow_up':'keyboard_arrow_down'}}</md-icon>
        </md-list-item>
        <md-list *ngIf="firstlist">
            <md-list-item class="subenav">
                <md-icon md-list-icon class="blue">mail</md-icon>
                <a>Mails (10/100)</a>
            </md-list-item>
            <md-list-item class="subenav" *ngFor="let tag of tags.Default">
                <div class="logo" [style.background-color]="tag.color">
                    <span>{{tag.title.charAt(0)}}</span>
                </div>
                <a>{{tag.title}}</a>
            </md-list-item>
        </md-list>
        <md-list-item class="mainnav" (click)="secondlist=!secondlist">
            <md-icon md-list-icon class="assign">assignment</md-icon>
            <a md-line> Jobs </a>
            <md-icon>{{secondlist? 'keyboard_arrow_up':'keyboard_arrow_down'}}</md-icon>
        </md-list-item>
        <md-list *ngIf="secondlist">
            <md-list-item class="subenav" *ngFor="let tag of tags.Automatic">
                <div class="logo" [style.background-color]="tag.color">
                    <span>{{tag.title.charAt(0)}}</span>
                </div>
                <a>{{tag.title}}</a>
            </md-list-item>
        </md-list>
        <md-list-item class="mainnav" (click)="thirdlist=!thirdlist">
            <md-icon md-list-icon class="candcolor">drafts</md-icon>
            <a md-line>Candidates</a>
            <md-icon>{{thirdlist? 'keyboard_arrow_up':'keyboard_arrow_down'}}</md-icon>
        </md-list-item>
        <md-list *ngIf="thirdlist">
            <md-list-item class="subenav" *ngFor="let tag of tags.Manual">
                <div class="logo" [style.background-color]="tag.color">
                    <span>{{tag.title.charAt(0)}}</span>
                </div>
                <a>{{tag.title}}</a>
            </md-list-item>
        </md-list>
    </md-list>

</md-sidenav>