<button md-icon-button (click)="menuShow = !menuShow"> <md-icon>menu</md-icon> </button>
<div id="side" class="inbox-nav" [ngClass]="{'showMenu': menuShow}">
    <div id="jobprofileNav" class="mainnav" *ngFor="let tag of tags; let i = index">
        <a md-line class="main-title">{{tag.title}}</a>
        <div *ngIf="tag.data">
            <div class="subenav" id="subnav" *ngFor="let subTag of tag.data; trackBy: tagDataTrack">
                <p [class.active]="selectedId == subTag.id && i != 0" *ngIf="subTag.type == 'Automatic'">
                    <span> <a *ngIf="i == 0" class="sub-title">{{subTag.title}}</a>
                        <md-icon *ngIf="i == 0" class="plus" (click)="addTag(subTag.id)">add</md-icon>
                   </span>
                    <a (click)="getEmail(0, subTag.id, subTag.title, tag.title);" *ngIf="i != 0 && subTag.type == 'Automatic'">{{subTag.title}} ({{subTag.unread}}/{{subTag.count}})</a>
                    <a (click)="getEmail(subTag.id, null);" *ngIf="i != 0 &&  subTag.type == 'Default'">{{subTag.title}} ({{subTag.unread}}/{{subTag.count}})</a>
                </p>
                <p [class.active]="selectedId == subTag.id && i != 0 && parantTagId == null" *ngIf="subTag.type == 'Default'">
                    <a *ngIf="i == 0" class="sub-title">{{subTag.title}}</a>
                    <a (click)="getEmail(0, subTag.id);" *ngIf="i != 0 && subTag.type == 'Automatic'">{{subTag.title}} ({{subTag.unread}}/{{subTag.count}})</a>

                    <a (click)="getEmail(subTag.id, null);" *ngIf="i != 0 &&  subTag.type == 'Default'">{{subTag.title}} ({{subTag.unread}}/{{subTag.count}})</a>
                </p>
                <div *ngIf="subTag.subchild">
                <span *ngFor="let subTagSubchild of subTag.subchild; trackBy: subTagSubchildTrack">
                    <div class="subenav" [class.active]="selectedId == subTagSubchild.id && parantTagId == subTag.id"
                        (click)="getEmail(subTagSubchild.id, subTag.id, subTagSubchild.title, subTag.title)">
                       <a [class.tagstyle]="subTagSubchild.parent_id !=null">{{subTagSubchild.title}} ({{subTagSubchild.unread}}/{{subTagSubchild.count}})</a>
                       </div>
                     <md-icon *ngIf="subTagSubchild.parent_id !=null" mdTooltip="Delete Tab" mdTooltipPosition="below"  class="delete" (click)="removeTag(subTagSubchild.type,subTagSubchild.id)">delete</md-icon>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
