@import './../../variable.scss';
:host {
    display: flex;
    flex: 1;
}
.content {
    padding: 12px;
    background-color: $contentcolor;
}
.bblue {
    background: $borderleftblue;
    display: inline-block;
    color: #000;
    padding: 2px;
    margin: 0px 0px 2px 0px;
    font-size: 12px;
}
.posload {
    left: 44%;
    position: relative;
    min-height: 100%;
}
.go-to-page-form {
  input {
    margin: 0px 10px;
  }
  button {
    // margin: 2px 10px;
    margin: 2px 40px;

  }
}

.m-b {
	margin-bottom: 1rem !important;
}
.cyan {
	background-color: $cyan;
}
.white {
	backgournd-color: $white;
	color: inherit;
}
.d-w {
	background-color: white;
	color: inherit;
  padding: 0px;
  margin: 2px;
  min-width: 20px!important;
  width: 20px;
  height: 20px;
}
.b-r {
	border-radius: 5%;
}
.options-main {
  margin-right: 42.7%;
}
.options-sub {
  margin-right: 40%;
}
.card-pos {
  position: relative;
  padding: 10px;
  width: 100%;
}
.wid-300 {
  width: 360px;
}
.pagination{
  min-height: 42px;
}
@media screen and (min-width: 320px) {
  .wid-300 {
    width: 100%;
  }
  .pagination{
    min-height: auto;
    margin: 5px 0;
  }
  .mar-pos {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 6px;
  }
  .card-pos {
    form {
      .mat-select {
        padding-top: 10px;
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .wid-300 {
    width: 100%;
  }
  .pagination{
    min-height: auto;
    margin: 5px 0;
  }
  .mar-pos {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 6px;
  }
  .card-pos {
    form {
      .mat-select {
        padding-top: 10px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .wid-300 {
    width: 360px;
  }
  .pagination{
    min-height: 42px;
    // margin: 20px 0;
  }
  .mar-pos {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
  }
}

.pos {
    width: auto;
    overflow: hidden;
    height: 20px;
    padding: 0px;
    line-height: 0px;
    min-width: 66px;
    background: transparent;
    color: #fff;
    box-shadow: none;
}
.m-s {
    color: $white;
    text-align: center;
}
.compose-email {
  color: #fff;
  padding-bottom: 5px;
  min-height: 18px;
  cursor: pointer;
  a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
  }
}
.background-white {
  background-color: #fff;
}
