@import './../../variable.scss';
:host {
    display: flex;
    flex: 1;
}
.content {
    padding: 12px;
    background-color: $contentcolor;
}
.posload {
    left: 44%;
    position: relative;
    min-height: 100%;
}

.m-b {
	margin-bottom: 1rem !important;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
  a {
    margin-left: 2px;
    margin-right: 2px;
  }
}
.cyan {
	background-color: $cyan;
}
.white {
	backgournd-color: $white;
	color: inherit;
}
.d-w {
	background-color: white;
	color: inherit;
}
.b-r {
	border-radius: 5%;
}
.options-main {
  margin-right: 42.7%;
}
.options-sub {
  margin-right: 41%;
}
.card-pos {
  position: relative;
  padding: 10px 0px 0px 12px;
  left: -7.4%;
}
.wid-300 {
  width: 300px;
}
.mar-pos {
  margin-left: 10px;
  margin-right: 10px;
}