<md-sidenav-container fxFlex>
<div flexlayout>
    <app-inbox-side-nav fxFlex="15" *ngIf="tags" [tags]="tags" (getEmails)="emaillists($event)"></app-inbox-side-nav>
    <div class="content" fxFlex>
    <router-outlet></router-outlet>
    <div class="m-b" *ngIf="showInboxEmailList">
    
        <div class="example-button-row" *ngIf="emaillist">

            <div *ngIf="emailIds.length > 0" class="{{!selectedTag ? 'options-main': 'options-sub'}}">
                <span *ngFor="let tag of tagsForEmailListAndModel.Default | slice:0:3">
                    <a md-raised-button class="b-r" *ngIf="tag.id != selectedTag" (click)="assign(tag.id)">
                    {{tag.title}}
                    </a>
                </span>
                <span>
                      <a md-raised-button class="b-r" (click)="delete()">Delete</a>
                </span>
            </div>
            <md-card class="card-pos" *ngIf="emailIds.length == 0">
            <form autoComplete="off" #searchForm="ngForm" (ngSubmit)="searchEmail(searchForm)">
            <md-select name="option" placeholder="Select Type" required ngModel>
                <md-option value="email">Search Email</md-option>
                <md-option value="subject">Search Subject</md-option>
            </md-select>

            <md-input-container class="mar-pos wid-300">
                <input mdInput name="keyword" placeholder="Search" required ngModel>
            </md-input-container>
            <a name="searchbtn" type="submit" md-raised-button [disabled]="searchForm.invalid" (click)="searchEmail(searchForm)"> Search </a>
            <md-checkbox name="currentTag" class="mar-pos" value="false" ngModel> Search current tag </md-checkbox>
            </form>
            </md-card>

            <a md-mini-fab class="d-w" (click)="previous()">
                <md-icon>keyboard_arrow_left</md-icon>
            </a>
            <a md-raised-button class="b-r pos">
            Page {{data.page}} / {{emaillist.count? Math.ceil(emaillist.count/data.limit): '1'}}
            </a>
            <a md-mini-fab class="d-w" (click)="next()">
                <md-icon>keyboard_arrow_right</md-icon>
            </a>
        </div>
    </div>          
        <!-- <md-spinner *ngIf="loading && showInboxEmailList" class="posload"></md-spinner> -->
        <h2 class="m-s" *ngIf="showmessage && showInboxEmailList">{{message}}</h2>
        <div *ngIf="!loading && emaillist && showInboxEmailList">
            <app-emailbox *ngFor="let emails of emaillist.data; trackBy: trackByEmails" (openEmail)="openEmails($event)" (refresh)="refresh($event)" [tagselected]="selectedTag" [email]="emails" (selectEmail)="addEmail($event)" (removeEmail)="removeEmails($event)" [tags]="tagsForEmailListAndModel.Automatic" [allTags]="tagsForEmailListAndModel"></app-emailbox>
        </div>
    </div>
</div>    
</md-sidenav-container>
