<mat-sidenav-container class="fixed">
    <div class="container-fluid">
        <div class="row">
            <div id="leftPart" class="col-md-2 no-pad background-white">
                <app-inbox-side-nav *ngIf="tags" [tags]="tags" (getEmails)="emaillists($event)" (getStarredEmails)="starred($event)" (getTags)="getAllTag()" class="sideNavFix"></app-inbox-side-nav>
            </div>
            <div id="rightPart" class="col-md-10 no-pad">
                <div class="content">
                    <p class="bblue" *ngIf="emaillist && showInboxEmailList">{{emailParenttitle}} - {{emailChildTitle}}</p>
                    <button md-raised-button *ngIf="selectedTagTitle == 'All'&& emaillist && emailParentId && emaillist.data" mdTooltip="Close Job Profile" mdTooltipPosition="below" class="delete" (click)="deletedProfile()">Close Job Profile</button>
                    <div class="m-b" *ngIf="showInboxEmailList && emaillist">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-10 no-pad">
                                    <mat-card class="card-pos">
                                        <form autoComplete="off" #searchForm="ngForm" (ngSubmit)="searchEmail(searchForm)">
                                            <mat-select name="option" placeholder="Search In" required [(ngModel)]="selectedOption">
                                                <mat-option value="email">Email</mat-option>
                                                <mat-option value="subject">Subject</mat-option>
                                                <mat-option value="name">Name</mat-option>
                                            </mat-select>

                                            <mat-form-field class="mar-pos wid-300">
                                                <input matInput name="keyword" placeholder="Search" required ngModel>
                                            </mat-form-field>
                                            <button name="searchbtn" type="submit" mat-raised-button [disabled]="searchForm.invalid"> Search </button>
                                            <button name="searchbtn" mat-raised-button [disabled]="searchForm.invalid" (click)="emaillists(lastSelectedTagData); searchForm.reset()"> Clear Search </button>
                                            <mat-checkbox name="currentTag" class="mar-pos" value="false" ngModel> Search current tag </mat-checkbox>
                                        </form>
                                    </mat-card>
                                </div>
                                <div class="col-md-2 pagination">
                                    <a mat-raised-button class="b-r pos">
                                                    {{data.page}} / {{emaillist.count? Math.ceil(emaillist.count/data.limit): '1'}}
                                                    </a>
                                    <button [disabled]="data.page == 1" mat-button class="d-w" (click)="previous()">
                                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                                    </button>
                                    <button mat-button class="d-w" (click)="next()">
                                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                                    </button>
                                    <div class="go-to-page-form">
                                        <input [(ngModel)]="goToPageNo" type="tel" onkeypress="return event.charCode >= 48 && event.charCode <=57 " id="goInput" class="form-control" placeholder="Page No" [ngModelOptions]="{standalone: true}">
                                        <button mat-mini-fab (click)="gotTopage(goToPageNo)" id="goBtn"[disabled]="!goToPageNo || goToPageNo < 0">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="m-s" *ngIf="showmessage && showInboxEmailList">{{message}}</h2>
                    <div class="compose-email" *ngIf="showInboxEmailList">
                        <a *ngIf="emaillist && emailParentId && emaillist.data?.length > 0 && this.role !== 'Guest'" style="margin-right: 4px; text-decoration: none;">Send Email To: </a>
                        <a style="margin-right: 4px;" *ngIf="emaillist && emailParentId && emaillist.data?.length > 0 && this.role !== 'Guest'" (click)="sendEmailToAll()">All</a>
                        <a style="margin-left: 4px;" *ngIf="emaillist && emailParentId && emaillist.data?.length > 0 && (this.role === 'Admin' || this.role ==='HR')" class="pull-right" (click)="removeOldEmails(this.role)">Remove Emails From {{emailParenttitle}}</a>
                        <a style="margin-right: 4px;" *ngIf="selectedTagTitle == 'All' && emaillist && emailParentId && emaillist.data?.length > 0 && this.role !== 'Guest'" (click)="sendEmailToAll('notGenuine')">Not Genuine</a>
                        <a *ngIf="selectedTagTitle == 'All' && this.role !== 'Guest' && emaillist && emaillist.data && emaillist.data.length > 0"
                            style="margin-right: 4px;" (click)="sendEmailToPendingCandidates()">Pending  Candidates <span *ngIf="sendFailedEmailListCount || sendSuccessEmailListCount">Success: {{sendSuccessEmailListCount}}, Failed: {{sendFailedEmailListCount}} </span></a>
                            <button mat-raised-button color="primary" class="sendEmail" *ngIf="emailIds.length > 0 && this.role !== 'Guest'" (click)="composeEmail()">
                                Send Email
                            </button>
                        <a *ngIf="emaillist && this.role !== 'Guest' && emailParentId && selectedTagTitle == 'All'" class="pull-right" (click)="cronStatus()"> Get Cron Status </a>
                        <a *ngIf="emaillist && this.role !== 'Guest' && emailParentId" class="pull-right" (click)="addCandidate()" style="margin-right: 4px;"> Add Candidate </a>
                        <a *ngIf="emaillist && this.role !== 'Guest'" class="pull-right" (click)="markAllRead()" style="margin-right: 4px;"> Mark All Read </a>
                    </div>
                    <div *ngIf="!loading && emaillist && showInboxEmailList && tagsForEmailListAndModel">
                        <app-emailbox *ngFor="let emails of emaillist.data; let i=index; trackBy: trackByEmails" (openEmail)="openEmails($event)" (refreshEmail)="refreshEmails($event)" (refreshAndDelete)="refresh($event); emaillist.data.splice(i,1)" (deleteEmailFromList)="emaillist.data.splice(i,1)" (refresh)="refresh($event)"
                            [tagselected]="selectedTag" [isSearching]="isSearching" [email]="emails" (selectEmail)="addEmail($event)" (removeEmail)="removeEmails($event)" (removeStarredEmail)="removeStarredMails(i)"
                            [tags]="tagsForEmailListAndModel.Automatic" [tagfilter]="allTagfilter" [allTags]="tagsForEmailListAndModel" [dataForInterviewScheduleRound]="dataForInterviewScheduleRound"
                            [inboxMailsTagsForEmailListAndModel]="inboxMailsTagsForEmailListAndModel" (deleteAndAssignTag)="assign($event, emails._id); emaillist.data.splice(i,1)" [intervieweeList]="intervieweeList" [emailChildTitle]="emailChildTitle"></app-emailbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-container>
