<md-sidenav-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 no-pad background-white">
                <app-inbox-side-nav *ngIf="tags" [tags]="tags" (getEmails)="emaillists($event)"></app-inbox-side-nav>
            </div>
            <div class="col-md-10 no-pad">
                <div class="content">
                    <router-outlet></router-outlet>
                    <p class="bblue" *ngIf="emaillist && showInboxEmailList">Job Profile Template Sent</p>
                    <div class="m-b" *ngIf="showInboxEmailList && emaillist">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-10 no-pad">
                                    <md-card class="card-pos">
                                        <form autoComplete="off" #searchForm="ngForm" (ngSubmit)="searchEmail(searchForm)">
                                            <md-select name="option" placeholder="Search In" required ngModel>
                                                <md-option value="email">Email</md-option>
                                                <md-option value="subject">Subject</md-option>
                                            </md-select>

                                            <md-input-container class="mar-pos wid-300">
                                                <input mdInput name="keyword" placeholder="Search" required ngModel>
                                            </md-input-container>
                                            <button name="searchbtn" type="submit" md-raised-button [disabled]="searchForm.invalid"> Search </button>
                                            <button name="searchbtn" md-raised-button [disabled]="searchForm.invalid" (click)="emaillists(lastSelectedTagData); searchForm.reset()"> Clear Search </button>
                                            <md-checkbox name="currentTag" class="mar-pos" value="false" ngModel> Search current tag </md-checkbox>
                                        </form>
                                    </md-card>
                                </div>
                                <div class="col-md-2 pagination">
                                    <a md-raised-button class="b-r pos">
                                                    {{data.page}} / {{emaillist.count? Math.ceil(emaillist.count/data.limit): '1'}}
                                                    </a>
                                    <button [disabled]="data.page == 1" md-button class="d-w" (click)="previous()">
                                                        <md-icon>keyboard_arrow_left</md-icon>
                                                    </button>
                                    <button md-button class="d-w" (click)="next()">
                                                        <md-icon>keyboard_arrow_right</md-icon>
                                                    </button>
                                    <form class="form-inline" class="go-to-page-form">
                                            <input [(ngModel)]="goToPageNo" type="number" class="form-control" placeholder="Page No" [ngModelOptions]="{standalone: true}">
                                        <button md-button (click)="gotTopage(goToPageNo)" [disabled]="!goToPageNo || goToPageNo < 0" class="btn btn-default">Go To Page</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="m-s" *ngIf="showmessage && showInboxEmailList">{{message}}</h2>
                    <div class="compose-email" *ngIf="showInboxEmailList">
                        <a *ngIf="emaillist && emailParentId && emaillist.data?.length > 0 && this.role !== 'Guest'" style="margin-right: 4px; text-decoration: none;">Send Email To: </a>
                        <a style="margin-right: 4px;" *ngIf="emaillist && emailParentId && emaillist.data?.length > 0 && this.role !== 'Guest'" (click)="sendEmailToAll()">All</a>
                        <a style="margin-right: 4px;" *ngIf="selectedTagTitle == 'All' && emaillist && emailParentId && emaillist.data?.length > 0 && this.role !== 'Guest'" (click)="sendEmailToAll('notGenuine')">Not Genuine</a>
                        <a *ngIf="selectedTagTitle == 'All' && this.role !== 'Guest' && emaillist && emaillist.data && emaillist.data.length > 0"
                            style="margin-right: 4px;" (click)="sendEmailToPendingCandidates()">Pending  Candidates <span *ngIf="sendFailedEmailListCount || sendSuccessEmailListCount">Success: {{sendSuccessEmailListCount}}, Failed: {{sendFailedEmailListCount}} </span></a>
                        <a *ngIf="emailIds.length > 0 && this.role !== 'Guest'" (click)="composeEmail()"> Send Email </a>
                        <a *ngIf="emaillist && this.role !== 'Guest' && emailParentId && selectedTagTitle == 'All'" class="pull-right" (click)="cronStatus()"> Get Cron Status </a>
                    </div>
                    <div *ngIf="!loading && emaillist && showInboxEmailList && tagsForEmailListAndModel">
                        <app-emailbox *ngFor="let emails of emaillist.data; let i=index; trackBy: trackByEmails" (openEmail)="openEmails($event)" (refresh)="refresh($event)"
                            [tagselected]="selectedTag" [email]="emails" (selectEmail)="addEmail($event)" (removeEmail)="removeEmails($event)"
                            [tags]="tagsForEmailListAndModel.Automatic" [allTags]="tagsForEmailListAndModel" [dataForInterviewScheduleRound]="dataForInterviewScheduleRound"
                            [inboxMailsTagsForEmailListAndModel]="inboxMailsTagsForEmailListAndModel" (deleteAndAssignTag)="assign($event, emails._id); emaillist.data.splice(i,1)"></app-emailbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-sidenav-container>