<div class="outerbody">
  <div class="logo">
    <img class="img-responsive" src="assets/logo.png">
  </div>
  <div class="login-card">
    <md-card>
      <h4>Candidate Sign In</h4>
      <hr>
      <md-card-subtitle id="loginError" class="error" *ngIf="showmessage">{{message}}</md-card-subtitle>
      <md-card-actions class="fbLogin">
        <button *ngIf="!fbloading" id="fb_login" md-raised-button class="width-100" (click)="fblogin()">
          <img class="facebook" width="24px" src="assets/fb_icon.png"/> Sign In with Facebook
        </button>
        <md-spinner id="loginSpinner" *ngIf="fbloading" class="spin"></md-spinner>
      </md-card-actions>
    </md-card>
    <br>
  </div>
</div>
