.bodyInner{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: skyblue;
    padding: 15px;
    margin-bottom: 5px;
}
ul,li{
  list-style-type: upper-alpha;
      color: #1f1f1f;
}
h3{
  font-size: 16px;
  font-family: sans-serif;
  color: black;
  margin: 5px 0px 8px 0px;
}
.pid{
  font-size: 12px;
  color: grey;
  font-weight: bold;
  margin-bottom: 2px;
}
.fontsize{
  font-size: 14px;
  color: black;
}
.marAuto{
  margin: auto;
}
.material-icons{
    font-size: 22px;
    font-weight: bold;
}
ul li .rightIcon{
  position: absolute;
    left: 12px;
    margin-top: -1px;
    color: red;
}
.right{
  float: right;
}
.submitans{
  margin: 25px 20px 25px 0px;
  padding: 5px 20px 5px 20px;
}
.grey{
  background: #cacaca;
}
