<div>
  <h4 class="heading">Test Summary</h4>
  <hr>
  <div class="col-md-12 col-sm-12 bodyInner" *ngFor="let ques of this.allQuestion">
      {{ques.group_name}}<span class="right">{{ques.attempted}}/{{ques.questions.length}}</span>
  </div>
  <div class="col-md-12 col-sm-12 bodyInner" style="margin-top: 1px;">
    <span class="bold">Total Attempted</span>
    <span class="right">{{questionsAttemped}}/{{totalQuestion}}</span>
  </div>
  <button mat-raised-button color=primary class="right submitans" (click)="submit()">Final Submit</button>
  <button mat-raised-button  class="right submitans grey" (click)="close()">Back</button>

</div>
